$breakpoints-mobile: 686;
$breakpoints-tablet: 940;
$breakpoints-pc: 1160;

@mixin media-mo() {
  @media (max-width: ($breakpoints-mobile+"px")) {
    @content;
  }
}

@mixin media-tablet() {
  @media (max-width: ($breakpoints-pc+"px")) and (min-width: ($breakpoints-mobile+"px")) {
    @content;
  }
}

@mixin media-pc() {
  @media (min-width: ($breakpoints-pc+"px")) {
    @content;
  }
}

@mixin media-tablet-pc() {
  @media (min-width: ($breakpoints-mobile+"px")) {
    @content;
  }
}

@mixin media-tablet-large() {
  @media (max-width: ($breakpoints-tablet+"px")) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

legend {
  display: none;
}

@keyframes move {
  0% {
    border-top: 1px solid #dfdfdf;
    height: 0px;
  }

  100% {
    border-top: 1px solid #f8c15b;
    box-shadow: 0px 15px 5px -2px #c7c6c695;
    height: 100px;
  }
}

#header {
  text-align: center;

  .header {
    margin: 0 auto;
    position: relative;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;

    @include media-tablet() {
      padding: 0 3%;
      width: 94%;
    }

    @include media-pc() {
      width: 1140px; //NOTE
    }

    @include media-mo {
      z-index: 35;
      position: absolute;

      padding: 0 3%;
      width: 94%;
    }

    .logo {
      display: block;
      width: 165px;
      height: 60px;
      background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png)
        0 0 no-repeat;
      text-indent: -999em;
    }

    .btn_gnb {
      display: inline-block;
      width: 50px;
      vertical-align: top;
      height: 50px;
      background: #e20c3e;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      i {
        position: relative;
        left: 0px;
        top: 16px;
        color: white;
        vertical-align: top;
        border-radius: 50%;
      }

      @include media-tablet-pc {
        display: none;
      }
    }

    .menu {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png)
        0 0 no-repeat;

      @include media-tablet {
        text-align: center;
      }
    }
  }
}

.navbar {
  @include media-mo {
    display: none;
  }

  #main {
    display: flex;
    justify-content: space-around;

    .mainli {
      vertical-align: middle;
      padding: 0 25px;
      @include media-tablet() {
        padding: 0 20px;
      }

      &:hover ul.sub {
        animation: move 0.5s ease alternate forwards;
      }

      .maina {
        align-items: center;
        vertical-align: middle;
        display: flex;
        height: 100px;

        @include media-tablet-large() {
          display: inline-block;
          padding-top: 20px;
          height: 80px;
        }

        @include media-pc {
        }

        span,
        img {
          display: block;
          margin: auto;
        }
      }
    }

    .sub {
      display: flex;
      justify-content: center;
      position: absolute;
      overflow: hidden;
      margin-left: calc(-50vw + 50% - 16px);
      top: 100px;
      left: 0px;
      width: 100vw;
      height: 0px;
      background-color: #ffffff;
      text-align: center;

      li {
        display: none;
        margin: 30px 20px;
        width: 150px;
        border: 2px solid #ccc;
        border-radius: 25px;
        background-color: #ffffff;

        &:nth-child(1) {
          margin-left: 50px;
        }

        &:hover {
          border: 2px solid red;

          a {
            color: red;
          }
        }

        a {
          padding: 10px 0;
          font-size: 14px;
          display: block;
          color: #5f5f5f;

          &:hover li {
            border: 1px solid red;
          }
        }
      }
    }
  }
}
#wrap {
  padding: 20px 0px;

  .main {
    text-align: center;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 0 5%;

    #section {
      margin: 0 auto;
      justify-content: space-between;
      display: flex;

      @include media-mo() {
        display: block;
      }

      @include media-pc() {
        width: calc(1160px - 10%);
      }
    }
  }
}

.left_section {
  display: flex;
  justify-content: space-around;

  li {
    width: 100%;

    a {
      display: block;
      padding: 8px 5px;
      border: 1px solid #cccccc;
      text-align: center;
      font-family: NGBold;

      span {
        font-size: 15px;
        display: block;
      }
    }
  }

  @include media-tablet-pc() {
    display: none;
  }
}
//장바구니
.basketbox {
  z-index: 32;
  position: fixed;
  width: 405px;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #666666;
  background: #fff;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;

  .deliveryRadio {
    display: flex;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50px;
      background-color: #dddddd;

      input {
        display: block;
      }
    }
  }

  .menuOption {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;

    input {
      width: 30px;
      height: 30px;
      text-align: center;
    }

    p {
      width: 100px;
    }

    .sum {
      margin: 0 10px;
      display: flex;
      align-items: center;

      button {
        font-size: 20px;
        text-align: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    button {
      width: 30px;
      height: 30px;
    }
  }

  .deliveryText {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    p {
      display: inline-block;
      padding: 10px 20px;
      font-weight: Normal;
      font-family: NGBold;

      span {
        font-family: Verdana;
        font-weight: bold;
        font-size: 24px;
        color: #cb1919 !important;
      }
    }
  }
}
.basketbox.show {
  opacity: 1;
}

.menuoption {
  text-align: center;
}


.leftback {
    @include media-mo {
      position: fixed;
      z-index: 34;
      left: 0;
      top: 0px;
      height: 100%;
      width: 100%;
      background-color: white;
    }
  }
  
  #left {
    position: absolute;
    display: block;
    height: 100%;
    top: 230px;
  
    @include media-mo {

      left: 0;
      padding:  20px  5% 0;
      z-index: 50;
      width: 90%;
      background-color: white;
    }
    
    @include media-pc() {
      margin-left: 5%;
    }
  
    @include media-tablet-pc() {
      width: 20%;
      min-width: 170px;
      max-width: 230px;
    }
  
    .section {
      h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 26px;
        font-weight: Normal;
        font-family: NGBold;
      }
  
      li {
        margin-bottom: 8px;
  
        a {
          display: block;
          padding: 10px;
          border: 1px solid #cccccc;
          font-size: 15px;
          font-family: NGBold;
          color: #666666;
          display: flex;
          align-items: center;
          background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;
          &:hover{
          border: 1px solid #e21d1d;
          }
          img {
            padding-left: 5px;
          }
        }
      }
  
      .menual {
        margin-top: 50px;
        border: 1px solid #eeeeee;
  
        h3 {
          padding: 10px;
          background: #eeeeee;
          font-size: 16px;
        }
  
        .range {
          padding: 10px 0;
  
          label {
            text-align: left;
            display: block;
            padding: 10px;
            font: normal "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial,
              Tahoma, Geneva, Verdana;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
  