@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

legend {
  display: none;
}

fieldset {
  border: 0;
}

@keyframes move {
  0% {
    border-top: 1px solid #dfdfdf;
    height: 0px;
  }
  100% {
    border-top: 1px solid #f8c15b;
    box-shadow: 0px 15px 5px -2px rgba(199, 198, 198, 0.5843137255);
    height: 100px;
  }
}
#header {
  text-align: center;
}
@media (min-width: 1160px) {
  #header {
    width: calc(1160px - 6%);
    margin: 0 auto;
  }
}
#header .header {
  margin: 0 auto;
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 1160px) and (min-width: 686px) {
  #header .header {
    width: 94%;
  }
}
@media (max-width: 686px) {
  #header .header {
    z-index: 35;
    position: absolute;
    padding: 0 3%;
    width: 94%;
  }
}
#header .header .logo {
  display: block;
  width: 165px;
  height: 60px;
  background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png) 0 0 no-repeat;
  text-indent: -999em;
}
#header .header .btn_gnb {
  display: inline-block;
  width: 50px;
  vertical-align: top;
  height: 50px;
  background: #e20c3e;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
@media (min-width: 686px) {
  #header .header .btn_gnb {
    display: none;
  }
}
#header .header .btn_gnb i {
  position: relative;
  left: 0px;
  top: 16px;
  color: white;
  vertical-align: top;
  border-radius: 50%;
}
#header .header .menu {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png) 0 0 no-repeat;
}
@media (max-width: 1160px) and (min-width: 686px) {
  #header .header .menu {
    text-align: center;
  }
}

@media (max-width: 686px) {
  .navbar {
    display: none;
  }
}
.navbar #main {
  display: flex;
  justify-content: space-around;
}
.navbar #main .mainli {
  vertical-align: middle;
  padding: 0 25px;
}
@media (max-width: 1160px) and (min-width: 686px) {
  .navbar #main .mainli {
    padding: 0 20px;
  }
}
.navbar #main .mainli:hover ul.sub {
  animation: move 0.5s ease alternate forwards;
}
.navbar #main .mainli .maina {
  align-items: center;
  vertical-align: middle;
  display: flex;
  height: 100px;
}
@media (max-width: 940px) {
  .navbar #main .mainli .maina {
    display: inline-block;
    padding-top: 20px;
    height: 80px;
  }
}
.navbar #main .mainli .maina span,
.navbar #main .mainli .maina img {
  display: block;
  margin: auto;
}
.navbar #main .sub {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  margin-left: calc(-50vw + 50% - 16px);
  top: 100px;
  left: 0px;
  height: 0px;
  background-color: #ffffff;
  text-align: center;
}
.navbar #main .sub li {
  display: none;
  margin: 30px 20px;
  width: 150px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #ffffff;
}
.navbar #main .sub li:nth-child(1) {
  margin-left: 50px;
}
.navbar #main .sub li:hover {
  border: 2px solid red;
}
.navbar #main .sub li:hover a {
  color: red;
}
.navbar #main .sub li a {
  padding: 10px 0;
  font-size: 14px;
  display: block;
  color: #5f5f5f;
}
.navbar #main .sub li a:hover li {
  border: 1px solid red;
}

#wrap {
  padding: 20px 0px;
}
#wrap .main {
  text-align: center;
  text-align: center;
  border-top: 1px solid #cccccc;
  padding: 0 5%;
}
#wrap .main #section {
  display: none;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 686px) {
  #wrap .main #section {
    display: block;
  }
}
@media (min-width: 1160px) {
  #wrap .main #section {
    width: calc(1160px - 10%);
  }
}

.left_section {
  display: flex;
  justify-content: space-around;
}
.left_section li {
  width: 100%;
}
.left_section li a {
  display: block;
  padding: 8px 5px;
  border: 1px solid #cccccc;
  text-align: center;
  font-family: NGBold;
}
.left_section li a span {
  font-size: 15px;
  display: block;
}
@media (min-width: 686px) {
  .left_section {
    display: none;
  }
}

.basketbox {
  z-index: 32;
  position: fixed;
  width: 405px;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #666666;
  background: #fff;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.basketbox .deliveryRadio {
  display: flex;
}
.basketbox .deliveryRadio label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  background-color: #dddddd;
}
.basketbox .deliveryRadio label input {
  display: block;
}
.basketbox .menuOption {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 20px;
}
.basketbox .menuOption input {
  width: 30px;
  height: 30px;
  text-align: center;
}
.basketbox .menuOption p {
  width: 100px;
}
.basketbox .menuOption .sum {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.basketbox .menuOption .sum button {
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.basketbox .menuOption button {
  width: 30px;
  height: 30px;
}
.basketbox .deliveryText {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.basketbox .deliveryText p {
  display: inline-block;
  padding: 10px 20px;
  font-weight: Normal;
  font-family: NGBold;
}
.basketbox .deliveryText p span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 24px;
  color: #cb1919 !important;
}

.basketbox.show {
  opacity: 1;
}

.menuoption {
  text-align: center;
}

@media (max-width: 686px) {
  .leftback {
    position: fixed;
    z-index: 34;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
  }
}

#left {
  position: absolute;
  height: 100%;
  top: 230px;
}
@media (max-width: 686px) {
  #left {
    left: 0;
    padding: 20px 5% 0;
    z-index: 50;
    width: 90%;
    background-color: white;
  }
}
@media (max-width: 1160px) and (min-width: 686px) {
  #left {
    display: none;
  }
}
@media (min-width: 1160px) {
  #left {
    margin-left: 5%;
    display: none;
  }
}
@media (min-width: 686px) {
  #left {
    width: 20%;
    min-width: 170px;
    max-width: 230px;
  }
}
#left .section h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: Normal;
  font-family: NGBold;
}
#left .section li {
  margin-bottom: 8px;
}
#left .section li a {
  display: block;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 15px;
  font-family: NGBold;
  color: #666666;
  display: flex;
  align-items: center;
  background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;
}
#left .section li a:hover {
  border: 1px solid #e21d1d;
}
#left .section li a img {
  padding-left: 5px;
}
#left .section .menual {
  margin-top: 50px;
  border: 1px solid #eeeeee;
}
#left .section .menual h3 {
  padding: 10px;
  background: #eeeeee;
  font-size: 16px;
}
#left .section .menual .range {
  padding: 10px 0;
}
#left .section .menual .range label {
  text-align: left;
  display: block;
  padding: 10px;
  font: normal "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
  font-size: 14px;
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
