* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

legend {
  display: none;
}

@keyframes move {
  0% {
    border-top: 1px solid #dfdfdf;
    height: 0;
  }
  100% {
    border-top: 1px solid #f8c15b;
    box-shadow: 0px 15px 5px -2px rgba(199, 198, 198, 0.5843137255);
    height: 100px;
  }
}
#header {
  text-align: center;
}
#header .header {
  margin: 0 auto;
  position: relative;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 1160px) and (min-width: 686px) {
  #header .header {
    padding: 0 3%;
    width: 94%;
  }
}
@media (min-width: 1160px) {
  #header .header {
    width: 1140px;
  }
}
@media (max-width: 686px) {
  #header .header {
    z-index: 35;
    position: absolute;
    padding: 0 3%;
    width: 94%;
  }
}
#header .header .logo {
  display: block;
  width: 165px;
  height: 60px;
  background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png) 0 0 no-repeat;
  text-indent: -999em;
}
#header .header .btn_gnb {
  display: inline-block;
  width: 50px;
  vertical-align: top;
  height: 50px;
  background: #e20c3e;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
#header .header .btn_gnb i {
  position: relative;
  left: 0px;
  top: 16px;
  color: white;
  vertical-align: top;
  border-radius: 50%;
}
@media (min-width: 686px) {
  #header .header .btn_gnb {
    display: none;
  }
}
#header .header .menu {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png) 0 0 no-repeat;
}
@media (max-width: 1160px) and (min-width: 686px) {
  #header .header .menu {
    text-align: center;
  }
}

@media (max-width: 686px) {
  .navbar {
    display: none;
  }
}
.navbar #main {
  display: flex;
  justify-content: space-around;
}
.navbar #main .mainli {
  vertical-align: middle;
  padding: 0 25px;
}
.navbar #main .mainli:hover ul.sub {
  animation: move 0.5s ease alternate forwards;
}
.navbar #main .mainli .maina {
  align-items: center;
  vertical-align: middle;
  display: flex;
  height: 100px;
}
@media (max-width: 940px) {
  .navbar #main .mainli .maina {
    display: inline-block;
    padding-top: 20px;
    height: 80px;
  }
}
.navbar #main .mainli .maina span,
.navbar #main .mainli .maina img {
  display: block;
  margin: auto;
}
.navbar #main .sub {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  margin-left: calc(-50vw + 50% - 16px);
  top: 100px;
  left: 0px;
  width: 100vw;
  height: 0px;
  background-color: #ffffff;
  text-align: center;
}
.navbar #main .sub li {
  margin: 30px 20px;
  width: 150px;
  border: 2px solid #5f5f5f;
  border-radius: 25px;
  background-color: #ffffff;
}
.navbar #main .sub li:nth-child(1) {
  margin-left: 50px;
}
.navbar #main .sub li:hover {
  border: 2px solid red;
}
.navbar #main .sub li:hover a {
  color: red;
}
.navbar #main .sub li a {
  padding: 10px 0;
  font-size: 14px;
  display: block;
  color: #5f5f5f;
}
.navbar #main .sub li a:hover li {
  border: 1px solid red;
}

.left_section {
  display: flex;
  justify-content: space-around;
}
.left_section li {
  width: 100%;
}
.left_section li a {
  display: block;
  padding: 8px 5px;
  border: 1px solid #cccccc;
  text-align: center;
  font-family: NGBold;
}
.left_section li a span {
  font-size: 15px;
  display: block;
}
@media (min-width: 686px) {
  .left_section {
    display: none;
  }
}

.edge_list {
  margin-top: 50px 0 0;
  justify-content: space-between;
  display: flex;
  padding: 0;
}
@media (max-width: 686px) {
  .edge_list {
    display: none;
  }
}
.edge_list li {
  width: 100%;
}
.edge_list li a {
  text-align: left;
  padding: 10px 0 0 20px;
  margin: 20px 0;
  display: block;
  height: 75px;
  border: 1px solid #c7c7c7;
  font-family: NGBold;
  color: #666;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_edge.gif) no-repeat 226px center;
}
.edge_list li a p {
  padding-top: 10px;
  font-family: NGBold;
  color: #666;
}
.edge_list li a span {
  color: #ff7400;
}

/*# sourceMappingURL=header.css.map */
