$breakpoints-mobile: 686;
$breakpoints-pc: 1160;

@mixin media-mo() {
    @media (max-width: ($breakpoints-mobile+'px')) {
        @content;
    }
}

@mixin media-tablet() {
    @media (max-width: ($breakpoints-pc+'px')) and (min-width:($breakpoints-mobile+'px')) {
        @content;
    }
}

@mixin media-pc() {
    @media (min-width: ($breakpoints-pc+'px')) {
        @content;
    }
}

@mixin media-tablet-pc() {
    @media (min-width:($breakpoints-mobile+'px')) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

legend {
    display: none;
}

@keyframes move {
    0% {
        border-top: 1px solid #dfdfdf;
        height: 0;
    }

    100% {
        border-top: 1px solid rgb(248, 193, 91);
        box-shadow: 0px 15px 5px -2px #c7c6c695;
        height: 100px;
    }
}

.header {
    position: relative;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100px;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 20px;

    @include media-pc {
        width: 1120px;
    }
    @include media-mo {
        z-index: 35;
        position: absolute;
        width: 100%;
    }

    .logo {
        display: block;
        width: 165px;
        height: 60px;
        background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png) 0 0 no-repeat;
        text-indent: -999em;
    }

    @include media-mo {
        .btn_gnb {
            cursor: pointer;
            display: inline-block;
            width: 50px;
            vertical-align: top;
            height: 50px;
            background: #e20c3e;
            border-radius: 50%;
            position: relative;

            i {
                left: 16px;
                top: 16px;
                color: white;
                vertical-align: top;
                border-radius: 50%;
                position: relative;

            }
        }
    }

    @include media-pc {
        #icon {
            display: none;
        }
    }

    @include media-tablet {
        #icon {
            display: none;
        }
    }

    .menu {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png) 0 0 no-repeat;

        @include media-tablet {
            text-align: center;
        }
    }
}

.navbar {
    @include media-mo {
        display: none;
    }

    #main {
        display: flex;
        justify-content: space-between;

        li {
            vertical-align: middle;
            padding: 0 25px;

            &:hover ul.sub {
                animation: move 0.5s ease alternate forwards;
            }

            a {
                height: 100px;

                @include media-pc {
                    align-items: center;
                    display: flex;
                }

                span,
                img {
                    @include media-tablet {
                        margin: 0 auto;
                    }

                    display: block;
                }
            }

            .sub {
                display: flex;
                position: absolute;
                justify-content: center;
                overflow: hidden;
                margin-left: calc(-50vw + 50%);
                top: 100px;
                left: 0px;
                width: 100vw;
                height: 0px;
                background-color: #ffffff;
                text-align: center;

                li {
                    margin: 30px 20px;
                    padding: 10px 0;
                    width: 150px;
                    height: 20px;
                    border: 2px solid #5f5f5f;
                    border-radius: 25px;
                    background-color: #ffffff;

                    &:hover {
                        border: 2px solid red;

                        a {
                            color: red;
                        }
                    }

                    a {
                        font-size: 14px;
                        display: block;
                        color: #5f5f5f;

                        &:hover li {
                            border: 1px solid red;
                        }
                    }
                }
            }
        }
    }
}

.left_section {
    @include media-mo {
        display: flex;
        justify-content: space-around;

        li {
            width: 100%;

            a {
                display: block;
                padding: 8px 5px;
                border: 1px solid #cccccc;
                font-size: 15px;
                text-align: center;
                font-family: NGBold;

                span {
                    display: block;
                }
            }
        }
    }

    @include media-tablet-pc() {
        display: none;
    }
}