@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body {
  max-width: 100%;
  overflow-x: hidden;
  }
  body {
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
/* 초기화 */
* {
  margin: 0;
  padding: 0;
}

* body {
  font-size: 12px;
  font: normal 13px/1.5 '나눔고딕', NanumGothic, NGNormal, '돋움', Dotum, Arial,Tahoma, Geneva, Verdana;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

#wrap {
  border: 0px solid red;
}

header#header,
div#contents,
footer {
  margin: 0 auto;
}

/* 공통 */
button {
  background: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  background: transparent;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

a:focus {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.blind {
  display: none;
}

/* 서브이미지 잠시 안 보이게 주석처리해놈 */
.submenu {
  display: none;
}

/* 헤더 시작*/

div #header {
  width: 100%;
  height: 100px;
}

div #header div.inner_box {
  border: 0px solid tomato;
  width: 1160px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

#header h1 a {
  display: block;
  width: 164px;
  position: relative;
  padding-top: 20px;
}

div #header div.inner_box h1 {
  border: 0px solid green;
  float: left;
  padding-right: 40px;
  vertical-align: center;
}

div #header div.inner_box h1 img {
  height: 50px;
}

div #header div.inner_box ul li img {
  height: 35px;
}

div #header div.inner_box:after {
  content: '';
  display: block;
  clear: both;
}

div#wrap #header div.inner_box nav:after {
  content: '';
  display: block;
  clear: both;
}

div#wrap #header div.inner_box nav.main_nav {
  display: inline-block;
}

div#wrap #header div.inner_box .box_wrap {
  display: inline-block;
}

div#wrap #header div.inner_box nav ul li {
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
}

div #header div.inner_box nav ul li a {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  font-family: 'Nanum Gothic', sans-serif;
}

div #header div.inner_box nav ul li img {
  padding-right: 7px;
  vertical-align: middle;
}

#header nav.main_nav ul li.order_gnb {
  position: relative;
}

#header nav.main_nav ul li.order_gnb span:before {
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  left: 85px;
  top: 56px;
  background: #ffda30;
  width: 80px;
}

mark {
  background: #ff0;
  color: #000;
}

.order_gnb span strong {
  position: relative;
  z-index: 2;
  font-family: 'Noto Sans KR', sans-serif;
  padding-left: 12px;
  color: #e20c3e;
  font-weight: bold;
  font-size: 22 px;
}

/* 장바구니 마이페이지*/
div #header:after {
  content: '';
  display: block;
  clear: both;
}

div #header div.btn_area {
  border: 0px solid black;
  float: right;
  text-decoration: none;
  width: auto;
  position: absolute;
  right: 0;
  padding-top: 30px;
  padding-right: 20px;
}

div #header div.btn_area a {
  padding: 4px;
}

/* 헤더영역 끝 // */

/* 팝업창 */
.pop_main {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 60;
}

.pop_main.pop_wrap h1 {
  position: absolute;
  left: -999em;
}

.pop_main.pop_wrap .pop_cont {
  padding: 0px;
}

.pop_main.pop_wrap .btn_close {
  background: none;
}

.pop_main .chk {
  padding: 5px 10px;
  line-height: 23px;
  background: #1d1f23;
  color: #fff;
  overflow: hidden;
}

.pop_main .chk label {
  float: left;
}

.pop_main .chk a {
  float: right;
  color: #fff;
}

article#todayPop div.pop_cont p img {
  vertical-align: middle;
  border: 0;
  width: 400px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

/* 콘텐츠 영역시작  */
div#contents {
  border: 0px solid hotpink;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle;
  height: 1500px;
}

/* 1단 */
/* 메인배너 */
/* banner */

/* 2단  -------*/

/* 이벤트 슬라이드 1 */

/* 신규오픈점 영역 끝 ----------// */

/* 3단 */
/* 디스카운트 할인 슬라이드  */

.dc_slide_wrap h3 {
  text-align: center;
  font-size: 22px;
  position: relative;
  color: #000;
  padding-top: 40px;
  margin-bottom: 30px;
  font: normal 22px '나눔고딕', NanumGothic, NGNormal, '돋움', Dotum, Arial,
    Tahoma, Geneva, Verdana;
  font-weight: bold;
}

.dc_slide_wrap h3:before {
  content: '';
  display: block;
  width: 58px;
  height: 58px;
  background: url(../imge/bg_main_tit.png) 0 0 no-repeat;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dc_slide_wrap h3 span {
  position: relative;
  z-index: 1;
}

section.dc_slide_wrap {
  border: 0px solid darkblue;
  background: #efefef;
  padding-bottom: 50px;
  display: block;
  margin: 0 auto;
}

.dc_slide_wrap li {
  padding: 10px 5px;
  box-sizing: border-box;
  float: left;
  width: 222px;
  margin-bottom: 20px;
}
.dc_area {
  padding-left: 55px;
}
.dc_area .swiper-slide {
  width: 222px;
  height: 200px;
}

.dc_slide_wrap li a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 200px;
  background: #fff;
  border-radius: 18px;
  line-height: 1.2;
  width: 232px;
}

.dc_slide_wrap li a span {
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  color: #000;
  font-size: 1.8em;
  display: inline-block;
}

.dc_slide_wrap li a strong {
  font-family: 'NGBold2';
  color: #e20c3e;
  font-size: 1.9em;
}

section.dc_slide_wrap .dc_area ul:after {
  display: block;
  content: '';
  clear: both;
}

section.dc_slide_wrap .dc_arear ul li {
  float: left;
  box-sizing: content-box;
}

/* 할인이벤트 영역 종료   // */

/* 4단 시작 ----*/
/* notice */
div.notice_fra_wrap .inner_renew {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  height: 330px;
}

.notice_fra_wrap h3 {
  padding-top: 29px;
  position: relative;
  font-size: 18px;
  color: #000;
  padding-bottom: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}

.notice_fra_wrap h3:before {
  content: '';
  display: block;
  width: 58px;
  height: 58px;
  background: url(../imge/bg_main_tit.png) 0 0 no-repeat;
  position: absolute;
  top: 7px;
  left: 0;
}

.notice_fra_wrap h3 span {
  position: relative;
  z-index: 1;
}

div.noice .inner_renew:after {
  display: block;
  content: '';
  clear: both;
}

.notice_wrap {
  border: 0px solid green;
  float: left;
  width: 560px;
  position: relative;
  overflow: hidden;
}

.notice_wrap .notice_area {
  direction: ltr;
  width: 3390px;
  height: 198px;
  position: relative;
  margin: 0 auto;
  backface-visibility: hidden;
  z-index: 1;
}

.notice_wrap ul:after {
  display: block;
  content: '';
  clear: both;
}

.notice_wrap ul li {
  width: 280px;
  border: 1px solid #e6e6e6;
  border-radius: 17px;
  box-sizing: border-box;
  float: left;
}

.notice_wrap ul li a {
  display: block;
  padding: 40px 30px 112px;
  position: relative;
}

.notice_wrap ul li a strong {
  display: block;
  color: #000;
  font-size: 16px;
  height: 48px;

  /* -webkit-box정렬 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: '맑은고딕';
}

.notice_area ul li a time {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 14px;
  color: #8c8c8c;
}

.notice_wrap ul li a i {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  bottom: 24px;
  right: 20px;
}

.notice_wrap ul li.notice a i {
  background: #ffda30 url(../imge/ico_notice.png) 0 0 no-repeat;
}

.notice_wrap ul li.swiper-slide-active {
  border-left: none;
}

.notice_wrap .nt_prev,
.notice_wrap .nt_next {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 33px;
  border: solid #bcbcbc;
  border-width: 3px 3px 0 0;
}

.notice_wrap .nt_prev {
  transform: rotate(-135deg);
  right: 27px;
}

.notice_wrap .nt_next {
  transform: rotate(45deg);
  right: 5px;
}

.notice_wrap .nt_prev:hover,
.notice_wrap .nt_prev:active,
.notice_wrap .nt_next:hover,
.notice_wrap .nt_next:active {
  border-color: #000;
}

/* 프랜차이즈 홍보안내 */
.fra_wrap {
  float: right;
  width: 565px;
}

.fra_wrap .franchise_wrap {
  width: 100%;
  height: 200px;
  background: url(../imge/bg_franchise.png) 0 0 no-repeat;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 58px;
  font-weight: bold;
}

.fra_wrap .franchise_wrap p {
  font-size: 20px;
  color: #fff;
}

.fra_wrap .franchise_wrap strong {
  font-size: 50px;
  color: #ffda30;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 콘텐츠 영역 끝 // */

/* 푸터영역시작  */
div.link_fix {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.footer_renew {
  border: 0px solid rgb(5, 206, 206);
  height: 15px;
}

/* 사이트이용안내 영역 시작 -- */
.footer_renew .line_area {
  width: 1160px;
  border: 0px solid darkgreen;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

/* 개인정보처리방침 등.. 리스트 */
.footer_renew .line_area .link_list ul:after {
  clear: both;
  display: block;
  content: '';
}

/* 다른나라 홈페이지 링크 부분 */

.dropdown-content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border: 1px solid #dddddd;
  width: 168px;
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50px;
  /* 다른 요소들보다 앞에 배치 */
  text-align: left;
}

.dropdown-content a {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1em;
  display: block;
  padding-left: 20px;
  background: #fff;
  border: solid #dddddd;
  border-width: 0 1px 1px 1px;
  height: 49px;
  line-height: 49px;
  box-sizing: border-box;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 다른나라 홈페이지 영역 종료 --// */

/* 사이트정보 영역 시작 -- */
.info_wrap {
  padding-bottom: 10px;
  width: 1160px;
  height: 90px;
  margin: 0 auto;
  border: 0px solid black;
  position: relative;
}

/* 푸터- 주소영역 */
.footer_renew .info_wrap address {
  padding-top: 20px;
  font-style: normal;
  font-size: 13px;
  color: #8c8c8c;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 푸터 sns 링크 영역 */
.footer_renew .sns_list li:hover {
  transform: scale(1.2);
}

.footer_renew .sns_list:after {
  display: block;
  content: '';
  clear: both;
}

.footer_renew .sns_list li {
  float: left;
  padding-right: 8px;
}

.footer_renew .sns_list a {
  display: block;
  border-radius: 20%;
}

.footer_renew .sns_list a span {
  display: block;
  font-size: 0;
  width: 31px;
  height: 31px;
}

.footer_renew .sns_list li.facebook span {
  background: url('//cdn.mrpizza.co.kr/2014_resources/images/common/img_sns_facebook.png')
    0 0 no-repeat;
}

.footer_renew .sns_list li.kakaostory span {
  background: url('//cdn.mrpizza.co.kr/2014_resources/images/common/img_sns_kakaostory.png')
    0 0 no-repeat;
}

.footer_renew .sns_list li.instagram span {
  background: url('//cdn.mrpizza.co.kr/2014_resources/images/common/img_sns_instagram.png')
    0 0 no-repeat;
}

.footer_renew .sns_list li.blog span {
  background: url('//cdn.mrpizza.co.kr/2014_resources/images/common/img_sns_blog.png')
    0 0 no-repeat;
}

/*sns링크 종료 --// */

/* 푸터영역 끝 //  */

/* 브라우저 마다 보여지는 효과  */

/* 767px~이하  모바일*/
@media screen and (max-width: 767px) {
  body {
    /* overflow-x: hidden; */
  }

  div#contents {
    height: 1830px;
  }

  /* 헤더 */
  div #header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }

  #header h1 a {
    display: block;
    width: 164px;
    position: relative;
    padding-top: 20px;
  }

  div #header div.inner_box h1 {
    border: 0px solid green;
    float: left;
    padding-left: 250px;
    vertical-align: center;
  }

  div #header div.inner_box h1 img {
    height: 50px;
  }

  div #header div.inner_box ul li img {
    height: 35px;
  }

  div.toogle_nav {
    position: absolute;
    right: 47%;
    top: 35px;
    font-size: 29px;
  }

  div.toogle_nav:hover {
    transform: scale(1.1);
  }

  div.toogle_nav i {
    color: #dc0000c0;
  }

  nav.main_nav ul li {
    display: none;
  }

  div.btn_area {
    display: none;
  }

  .main_nav ul.active {
    display: flex;
  }

  /* 퀵메뉴 사라지게함 */
  section#quick {
    display: none;
  }

  /* 팝영역 */
  #todayPop {
    top: 114px;
    left: 50%;
    margin-left: -307px;
    display: block;
  }

  #todayPop2 {
    top: 114px;
    left: 50%;
    margin-left: -307px;
    display: block;
  }

  /* 팝영역 종료 // */

  /* 메인콘텐츠 영역시작  */
  /* 메인배너 */
  .banner {
    position: relative;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
  }

  .banner ul {
    position: absolute;
    list-style: none;
    left: 0;
    top: 0;
    transition: 0.8s;
  }

  .banner ul:after {
    display: block;
    content: '';
    clear: both;
  }

  .banner ul li {
    max-width: 100%;
    float: left;
    position: absolute;
  }

  ul.slider li img {
    max-width: 767px;
    height: 200px !important;
    transition: all 0.8s;
  }

  /* 메인배너 끝  // */

  /* 2단영역 시작  */
  /* 이벤트 슬라이드 1 */
  section.evt_cf_wrap div.inner_renew {
    width: 100%;
    height: 650px;
    border: 0px solid green;
    position: relative;
    margin: 0 auto;
  }

  div.evt_wrap {
    margin-top: 10px;
    box-sizing: border-box;
    border: 0px solid rgb(184, 125, 17);
    width: 565px;
    overflow: hidden;
    height: 290px;
    margin-left: 13.8%;
    transition: 0.5s;
  }

  div.swiper-container {
    width: 100%;
    height: 280px;
    position: relative;
    margin-top: 15px;
  }

  div.swiper-container ul#swiper-slide:after {
    display: block;
    clear: both;
    content: '';
  }

  div.swiper-container ul#swiper-slide {
    position: absolute;
    left: 0;
    top: 0;
    height: 280px;
    border: 0px solid red;
    width: 1695px;
  }

  div.swiper-container ul#swiper-slide li {
    float: left;
    margin-bottom: 20px;
    max-width: 100%;
  }

  div.swiper-container ul li img {
    border-radius: 17px;
    max-width: 100%;
    height: auto;
  }

  /* 활성화아이콘 */

  ul.control:after {
    clear: both;
    content: '';
    display: block;
  }

  ul.control {
    position: absolute;
    top: 84%;
    left: 38%;
    border: 0px solid red;
    z-index: 1;
    width: 300px;
    height: 20px;
  }

  ul.control li {
    float: left;
    width: 14px;
    height: 2px;
    margin-right: 50px;
    bottom: 0;
    text-indent: -9999px;
  }

  ul.control li a {
    font-size: 10px;
    display: block;
    background-color: rgb(254, 255, 248);
    border-radius: 80%;
    border: 0.3px solid rgb(233, 231, 231);
  }

  ul.control li a:hover {
    transform: scale(1.3);
  }

  ul.control li a:active {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  ul.control li a:focus {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  /* 이벤트 슬라이드 영역 끝 ----------// */

  /* 2단 2번 째 구역 ==>신규오픈점 슬라이드 2  */

  .store_banner_wrap:before {
    clear: both;
    content: '';
    display: block;
  }

  .store_banner_wrap {
    width: 670px;
    height: 280px;
    transition: 1s;
  }

  .bxslider {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }

  .bxslider ul {
    float: right;
    display: block;
  }

  .bxslider ul li {
    position: absolute;
    left: 23px;
    top: 30px;
    padding-left: 80px;
  }

  .bxslider ul li img {
    width: 100%;
    border-radius: 17px;
  }

  /* 슬라이드버튼 */
  .bx-controls-direction a {
    display: block;
    width: 37px;
    height: 54px;
    font-size: 0px;
    text-indent: -9999em;
  }
  .bx-has-controls-direction {
    position: absolute;
    top: 65%;
    left: 15%;
    width: 550px;
    border: 0px solid darkgoldenrod;
    height: 80px;
  }
  .bx-prev {
    position: absolute;
    top: 20%;
    left: 1%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_prev.png)
      no-repeat;
  }

  .bx-prev:hover {
    transform: scale(1.1);
  }

  .bx-next {
    position: absolute;
    top: 20%;
    right: 1%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_next.png)
      no-repeat;
  }

  .bx-next:hover {
    transform: scale(1.1);
  }

  /* 할인 이벤트 안내 영역 */
  .dc_slide_wrap {
    margin: 0 auto;
    width: 100%;
    border: 0px solid firebrick;
    height: 310px;
    padding-bottom: 30px;
    background: #efefef;
  }

  .dc_slide_wrap .inner_renew {
    margin: 0 auto;
  }

  .dc_wra {
    position: relative;
    width: 464px;
    background-color: #efefef;
    margin: 0 auto;
    transition: 0.3s;
  }

  .dc_area {
    width: 100%;
    overflow: hidden;
    padding-left: 28px;
    height: 220px;
  }

  .swiper-wrapper .swiper-slide {
    width: 222px;
    height: 200px;
  }

  /* 할인영역 버튼 */
  .dc_btn_area button {
    font-style: normal;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 100%;
  }

  .dc_btn_area .dc_btn_prev {
    position: absolute;
    top: 48%;
    left: 100%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
  }

  .dc_btn_area .dc_btn_next {
    position: absolute;
    left: 2%;
    top: 48%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-140deg);
  }

  .dc_slide_wrap .dc_btn_next,
  .dc_slide_wrap .dc_btn_prev {
    right: -30px;
    display: block;
    width: 25px;
    height: 25px;
  }

  .dc_slide_wrap .dc_btn_prev:hover,
  .dc_slide_wrap .dc_btn_prev:active,
  .dc_slide_wrap .dc_btn_next:hover,
  .dc_slide_wrap .dc_btn_next:active {
    border-color: #000;
  }

  /* 할인배너 영역 끝 -----------// */
  /* 할인 이벤트 안내 영역 종료  //*/

  /* 공지사항영역  */
  .fra_wrap {
    position: absolute;
    left: 105px;
    top: 300px;
  }

  .notice_wrap {
    margin-left: 105px;
  }

  .notice_wrap ul li {
    width: 280px;
    border: 1px solid #e6e6e6;
    border-radius: 17px;
    box-sizing: border-box;
    float: left;
  }

  .notice_wrap ul li a {
    display: block;
    padding: 40px 30px 112px;
    position: relative;
  }

  .notice_area .swiper-slide {
    overflow: hidden;
    width: 280px;
  }

  /* 공지사항영역 종료    // */

  /* 메인콘텐츠 영역 종료 // */

  /* 푸터영역 시작 */
  footer {
    padding-bottom: 40px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  .link_list {
    margin-left: 122px;
  }
  .footer_renew .line_area .link_list li {
    float: left;
    padding-right: 28px;
    padding-top: 15px;
  }

  .footer_renew .line_area .link_list li + li {
    font-size: 0.9em;
  }

  .footer_renew .line_area .link_list li span {
    color: #dc0000;
    font-size: 0.9em;
  }

  /* 다른나라 홈페이지 */
  .dropdown {
    display: none;
  }

  /* 저작권주소 줄바꿈 */
  div.info_wrap address {
    font-size: 0.8em;
    position: absolute;
    top: 0px;
  }

  .info_wrap address br.br {
    display: block;
  }

  .info_wrap .copy {
    position: absolute;
    top: 85px;
    font-size: 13px;
    color: #8c8c8c;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  .footer_renew .info_wrap {
    margin-left: 20px;
  }

  /* sns리스트와 수상내역 숨기기 */
  .award_wrap {
    display: none;
  }

  .sns_list {
    display: none;
  }

  /* 푸터영역 종료 // */
}

/* 768이상 ~ 1159이하 테블릿 */
@media (min-width: 768px) and (max-width: 1159px) {
  div#content {
    height: 1600px;
  }

  /* 헤더 */
  div #header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }

  header .inner_box {
    padding-left: 80px;
  }

  div.toogle_nav {
    position: absolute;
    right: 25%;
    top: 35px;
    font-size: 29px;
  }

  div#wrap #header div.inner_box nav ul li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    transition: all 0.7s;
  }

  div.toogle_nav:hover {
    transform: scale(1.1);
  }

  div.toogle_nav i {
    color: #dc0000c0;
  }

  div.btn_area {
    display: none;
  }

  .main_nav ul.active {
    display: flex;
  }

  div #header div.inner_box nav ul li a {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    font-family: 'Nanum Gothic', sans-serif;
  }

  #header nav.main_nav ul li.order_gnb span:before {
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    left: 70px;
    top: 56px;
    background: #ffda30;
    width: 80px;
  }

  /* 헤더 영역 종료   // */
  /* 퀵메뉴 사라지게함 */
  section#quick {
    display: none;
  }

  /* 팝영역 */
  #todayPop {
    top: 114px;
    left: 50%;
    margin-left: -410px;
    display: block;
  }

  #todayPop2 {
    top: 114px;
    left: 50%;
    margin-left: -7px;
    display: block;
  }

  /* 팝영역 종료 // */

  /* 메인콘텐츠 시작   */
  /* 1단 영역 메인배너 */
  .banner_wrap {
    height: 270px;
    transition: all 0.9s;
  }

  .banner ul {
    position: absolute;
    margin-top: 100px;
    padding: 0;
    list-style: none;
    left: 0;
    top: 0;
    transition: 0.8s;
    height: 250px;
  }

  .banner ul:after {
    display: block;
    content: '';
    clear: both;
  }

  .banner ul li {
    float: left;
    height: 270px;
    margin-bottom: 10px;
    position: absolute;
  }

  ul.slider li img {
    max-width: 1159px;
    height: auto !important;
  }

  /* 1단 메인배너 영역 종료 // */

  /* 2단영역 이벤트 배너 */
  section.evt_cf_wrap div.inner_renew {
    width: 1159px;
    height: 280px;
    border: 2px solid green;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  div.evt_wrap {
    width: 50%;
    height: 280px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 59px;
    padding-top: 20px;
  }

  div.swiper-container {
    position: relative;
    border: 0px solid black;
  }

  div.swiper-container ul#swiper-slide:after {
    display: block;
    clear: both;
    content: '';
  }

  div.swiper-container ul#swiper-slide {
    position: absolute;
    left: 0;
    width: 1695px;
    height: 20px;
    border: 0px solid red;
  }

  div.swiper-container ul#swiper-slide li {
    float: left;
  }

  div.swiper-container ul li img {
    border-radius: 17px;
    max-width: 90%;
  }

  /* 활성화아이콘 */
  ul.control:after {
    clear: both;
    content: '';
    display: block;
  }

  ul.control {
    position: absolute;
    bottom: -220px;
    left: 190px;
    border: 0px solid red;
  }

  ul.control li {
    float: left;
    width: 14px;
    height: 2px;
    margin-right: 50px;
    bottom: 0;
    text-indent: -9999px;
  }

  ul.control li a {
    font-size: 10px;
    display: block;
    background-color: rgb(254, 255, 248);
    border-radius: 80%;
  }

  ul.control li a:hover {
    transform: scale(1.2);
  }

  ul.control li a:active {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  ul.control li a:focus {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  /* 이벤트 슬라이드 영역 끝 ----------// */

  /* 2단 2번 째 구역 ==>신규오픈점 슬라이드 2  */
  .store_banner_wrap:before {
    clear: both;
    content: '';
    display: block;
  }

  .store_banner_wrap {
    width: 560px;
    height: 280px;
  }

  .bxslider {
    position: relative;
    box-sizing: border-box;
  }

  .bxslider ul {
    float: right;
    list-style: none;
    display: block;
  }

  .bxslider ul li {
    position: absolute;
    right: -680px;
    top: -258px;
    width: 550px;
    height: auto !important;
  }

  .bxslider ul li img {
    position: absolute;
    right: 145px;
    height: 250px;
    transition: all 0.7s;
    max-width: 90%;
    border-radius: 17px;
    width: 100%;
  }

  /* 슬라이드버튼 */
  .bx-controls-direction a {
    display: block;
    width: 37px;
    height: 54px;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    font-size: 0px;
    text-indent: -9999em;
  }

  .bx-controls-auto {
    position: absolute;
    left: 40px;
    bottom: 25px;
    z-index: 51;
  }

  .bx-controls-auto-item a {
    display: inline-block;
    width: 12px;
    height: 15px;
    text-indent: -999em;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_player.png)
      no-repeat left top;
  }

  section.evt_cf_wrap div.inner_renew {
    width: 1160px;
    height: 280px;
    border: 0px solid green;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .bx-prev {
    position: absolute;
    left: 600px;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_prev.png)
      no-repeat;
  }

  .bx-next {
    right: 65px;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_next.png)
      no-repeat;
  }

  /* 할인이벤트 안내영역   */
  .dc_slide_wrap {
    margin: 0 auto;
    width: 100%;
    border: 0px solid firebrick;
    height: 310px;
    padding-bottom: 30px;
    background: #efefef;
  }

  .dc_slide_wrap .inner_renew {
    margin: 0 auto;
  }

  .dc_wra {
    transition: 0.8s;
    position: relative;
    width: 930px;
    background-color: #efefef;
    margin: 0 auto;
  }

  .dc_area {
    width: 930px;
    overflow: hidden;
    padding-left: 25px;
    height: 220px;
  }

  /* 할인영역 버튼 */
  .dc_btn_area button {
    font-style: normal;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 100%;
  }

  .dc_btn_area .dc_btn_prev {
    position: absolute;
    top: 48%;
    right: 0;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
  }

  .dc_btn_area .dc_btn_next {
    position: absolute;
    left: -2%;
    top: 48%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-140deg);
  }

  .dc_slide_wrap .dc_btn_next,
  .dc_slide_wrap .dc_btn_prev {
    right: -30px;
    display: block;
    width: 25px;
    height: 25px;
  }

  /* 할인이벤트 안내영역 종료 // */

  /* 3단영역 시작 */
  /* 공지사항 영역  */
  .notice_wrap {
    margin-left: 164px;
    border: 0px solid green;
    float: left;
    width: 840px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    padding-top: 10px;
  }

  .notice_wrap ul li a {
    display: block;
    padding: 40px 30px 112px;
    position: relative;
  }

  .notice_area .swiper-slide {
    width: 280px;
    border: 1px solid #e6e6e6;
    border-radius: 17px;
    box-sizing: border-box;
    float: left;
  }

  /* 프랜차이즈 */
  .fra_wrap {
    position: absolute;
    left: 18%;
    top: 280px;
    border: 0px solid darkcyan;
    width: 800px;
    margin: 0 auto;
    transition: 0.9s;
    padding-top: 40px;
    margin-left: 7%;
  }

  .fra_wrap .franchise_wrap p {
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 15%;
  }

  .fra_wrap .franchise_wrap strong {
    font-size: 50px;
    color: #ffda30;
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    top: 52%;
    left: 18%;
  }

  .fra_name {
    display: none;
  }

  /* 3단영역 종료    // */

  /* 메인콘텐츠 종료   // */

  /* 푸터 영역시작 */
  footer {
    padding-bottom: 40px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
  }

  .footer_renew .info_wrap {
    margin-left: 140px;
  }

  .info_area {
    height: 120px;
  }

  .footer_renew .line_area .link_list li {
    float: left;
    padding-right: 2%;
    padding-top: 15px;
    transition: all 0.3s;
  }

  .footer_renew .line_area .link_list li + li {
    font-size: 1em;
    transition: all 0.3s;
  }

  .footer_renew .line_area .link_list li span {
    color: #dc0000;
    font-size: 1em;
  }

  /* 저작권주소 */
  div.info_wrap address {
    font-size: 1em;
  }

  div.info_wrap address br {
    display: block;
  }

  .addressCopy {
    position: absolute;
    top: 50px;
  }

  /* 카피라이터 */
  .footer_renew .info_wrap .copy {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  /* 다른나라홈페이지 */
  .dropdown {
    margin-left: 620px;
    position: absolute;
    left: 18%;
    top: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.1em;
    display: inline-block;
    width: 168px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-left: 21px;
    padding-right: 31px;
    padding-top: 13px;
    height: 50px;
    box-sizing: border-box;
    background: url('//cdn.mrpizza.co.kr/2014_resources/images/common/ico_sel_arrow.png')
      92% 50% no-repeat;
    transition: all 0.3s;
  }

  /* 푸터 sns 링크 영역 */
  .footer_renew .sns_list {
    padding-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* 전화주문 */
  .award_wrap .num {
    display: none;
  }

  .award_wrap {
    display: none;
  }

  /*푸터종료     //  */
}

/* 1160px이상 */
@media (min-width: 1160px) {
  div #header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
  }

  .toogle_nav {
    display: none;
    transition: all 0.8s;
  }

  /* 퀵메뉴 */
  .quick_wrap {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    margin-top: -177.5px;
  }

  .quick_wrap > ul {
    background: #f4f4f4;
    border-radius: 18px 0 0 18px;
    padding: 0 5px;
    position: relative;
    overflow: visible;
  }

  .quick_wrap > ul > li + li {
    border-top: #dbdbdb 1px solid;
  }

  .quick_wrap > ul > li > a.quick_tit {
    display: block;
    padding: 18px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #8c8c8c;
    width: 80px;
    position: relative;
  }

  .quick_wrap > ul > li > a.quick_tit:hover,
  .quick_wrap > ul > li.on > a.quick_tit {
    color: #000;
  }

  .quick_wrap > ul > li > a > i {
    display: block;
    margin: 0 auto 4px;
  }

  .quick_wrap .cart_num {
    position: absolute;
    top: 12px;
    right: 18px;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #e20c3e;
    font-size: 11px;
    color: #fff;
    padding-top: 1px;
    box-sizing: border-box;
  }

  /* 퀵메뉴 종료   // */

  /* 팝업창 */
  #todayPop {
    top: 114px;
    left: 50%;
    margin-left: -637px;
    display: block;
  }

  #todayPop2 {
    top: 114px;
    left: 50%;
    margin-left: -237px;
    display: block;
  }

  /* 팝업창 종료 //  */

  /* 메인콘텐츠 */
  .banner {
    position: relative;
    width: 1920px;
    height: 450px;
    margin: 0 auto;
    padding: 0;
  }

  .banner ul {
    position: absolute;
    margin: 0px;
    padding: 0;
    list-style: none;
    left: 0;
    top: 0;
    transition: all 0.8s;
  }

  .banner ul:after {
    display: block;
    content: '';
    clear: both;
  }

  .banner ul li {
    float: left;
    height: 450px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1920px;
  }

  .banner ul li img {
    overflow: hidden;
    max-width: 100%;
  }

  /* 메인콘텐츠 종료 //*/

  /* 2단  */
  section.evt_cf_wrap div.inner_renew {
    width: 1160px;
    height: 280px;
    border: 0px solid green;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  div.evt_wrap {
    width: 565px;
    height: 280px;
    box-sizing: border-box;
    overflow: hidden;
  }

  div.evt_wrap {
    width: 565px;
    height: 280px;
    box-sizing: border-box;
    overflow: hidden;
  }

  div.swiper-container {
    position: relative;
    border: 0px solid black;
  }

  div.swiper-container ul#swiper-slide:after {
    display: block;
    clear: both;
    content: '';
  }

  div.swiper-container ul#swiper-slide {
    position: absolute;
    left: 0;
    width: 1695px;
    height: 280px;
    border: 0px solid red;
  }

  div.swiper-container ul#swiper-slide li {
    float: left;
  }

  div.swiper-container ul li img {
    border-radius: 17px;
    width: 100%;
  }

  /* 활성화아이콘 */

  ul.control:after {
    clear: both;
    content: '';
    display: block;
  }

  ul.control {
    position: absolute;
    bottom: -250px;
    left: 210px;
    border: 0px solid red;
  }

  ul.control li {
    float: left;
    width: 14px;
    height: 2px;
    margin-right: 50px;
    bottom: 0;
    text-indent: -9999px;
  }

  ul.control li a {
    font-size: 10px;
    display: block;
    padding: 00px;
    background-color: rgb(254, 255, 248);
    border-radius: 80%;
  }

  ul.control li a:hover {
    transform: scale(1.2);
  }

  ul.control li a:active {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  ul.control li a:focus {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  /* 이벤트 슬라이드 영역 끝 ----------// */

  /* 2단 2번 째 구역 ==>신규오픈점 슬라이드 2  */

  .store_banner_wrap:before {
    clear: both;
    content: '';
    display: block;
  }

  .store_banner_wrap {
    width: 565px;
  }

  .bxslider {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .bxslider ul {
    float: right;
    padding: 0;
    list-style: none;
    display: block;
    border-radius: 17px;
  }

  .bxslider ul li {
    position: absolute;
    right: -596px;
    top: -280px;
  }

  .bxslider ul li img {
    max-width: 100%;
    border-radius: 17px;
  }

  /* 슬라이드버튼 */
  .bx-controls-direction a {
    display: block;
    width: 37px;
    height: 54px;
    position: absolute;
    top: 50%;
    margin-top: -27px;
    font-size: 0px;
    text-indent: -9999em;
  }

  .bx-prev {
    left: 600px;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_prev.png)
      no-repeat;
  }

  .bx-next {
    right: 6px;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_next.png)
      no-repeat;
  }

  .bx-controls-auto {
    position: absolute;
    left: 40px;
    bottom: 25px;
    z-index: 51;
  }

  .bx-controls-auto-item a {
    display: inline-block;
    width: 12px;
    height: 15px;
    text-indent: -999em;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_player.png)
      no-repeat left top;
  }

  /* 2단 신규오픈점 종료 // */

  /* 할인이벤트 영역  */
  .dc_slide_wrap {
    margin: 0 auto;
    width: 100%;
  }

  .dc_slide_wrap {
    border: 0px solid firebrick;
    height: 310px;
    padding-bottom: 30px;
    background: #efefef;
  }

  .dc_wra {
    position: relative;
    width: 1300px;
    background-color: #efefef;
    margin: 0 auto;
    transition: 0.7s;
  }

  .dc_area {
    width: 1160px;
    overflow: hidden;
    margin: 0 auto;
    height: 220px;
  }

  /* 할인영역 버튼 */
  .dc_btn_area button {
    font-style: normal;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 100%;
  }

  .dc_btn_area .dc_btn_prev {
    position: absolute;
    top: 50%;
    left: 94%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
  }

  .dc_btn_area .dc_btn_next {
    position: absolute;
    left: 50px;
    top: 50%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-140deg);
  }

  .dc_slide_wrap .dc_btn_next,
  .dc_slide_wrap .dc_btn_prev {
    right: -30px;
    display: block;
    width: 25px;
    height: 25px;
  }

  .dc_slide_wrap .dc_btn_prev:hover,
  .dc_slide_wrap .dc_btn_prev:active,
  .dc_slide_wrap .dc_btn_next:hover,
  .dc_slide_wrap .dc_btn_next:active {
    border-color: #000;
  }

  /* 할인배너 영역 끝 -----------// */

  /* 할인이벤트 영역 종료   // */

  /* 푸터영역 */
  footer {
    padding-bottom: 40px;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }

  .info_wrap address br.br {
    display: none;
  }

  .dropdown {
    margin-left: 200px;
    position: absolute;
    right: 0px;
    top: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    display: inline-block;
    width: 168px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-left: 21px;
    padding-right: 31px;
    padding-top: 13px;
    height: 50px;
    box-sizing: border-box;
    background: url('//cdn.mrpizza.co.kr/2014_resources/images/common/ico_sel_arrow.png')
      92% 50% no-repeat;
  }

  .footer_renew .line_area .link_list ul:after {
    clear: both;
    display: block;
    content: '';
  }

  .footer_renew .line_area .link_list li {
    float: left;
    padding-right: 30px;
    padding-top: 15px;
  }

  .footer_renew .line_area .link_list li + li {
    font-size: 1.1em;
  }

  .footer_renew .line_area .link_list li span {
    color: #dc0000;
    font-size: 1.1em;
  }

  /* 카피라이터 */
  .footer_renew .info_wrap .copy {
    padding-top: 13px;
    font-size: 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  /* sns링크 */
  .footer_renew .sns_list {
    padding-top: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* 전화주문 */
  .award_wrap .num {
    font-family: 'Jua', sans-serif;
    color: #484848;
    font-size: 1.8em;
    font-weight: bold;
    position: absolute;
    right: 0;
  }

  .footer_renew .award_wrap .num strong {
    color: #e20c3e;
    font-size: 1.3em;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
  }

  /* 사이트정보 안 쪽 수상내역 + 전화번호  */
  .award_wrap {
    width: 1160px;
    padding-top: 10px;
    padding-bottom: 120px;
    border: 0px solid hotpink;
    margin: 0 auto;
    position: relative;
  }

  .footer_renew .award_wrap ul > li {
    float: left;
    font-size: 0.7em;
    display: table;
    padding-right: 10px;
  }

  .footer_renew .award_wrap ul > li img {
    float: left;
    margin-right: 10px;
  }

  .footer_renew .award_wrap ul > li span {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Nanum Gothic', sans-serif;
  }

  /* 사이트정보 영역 종료 // */
}
