@media(min-width:1160px) {

    #icon{
        display: none;
    }
    .fa-solid {
        display: none;
    }

    // NOTE 워랩
    #wrap {
        header {
            width: 1160px;
        }

        // --------------------헤더 끝
        main {
            width: 100%;
            border-top: 1px solid #cccccc;

            #section {
                justify-content: center;
                margin: 0 auto;
                width: 1160px;
                display: flex;

                #left {
                    display: block;
                    width: 25%;
                    padding-left: 2.72413793103%;
                    .left_section{
                        display: none;
                      }
                    section{
                        position: relative;
                        top: -20px;
                      }
                    // NOTE 왼쪽
                    h2 {
                        padding-top: 50px;
                    }

                    ul {
                        width: 100%;
                        margin: 10px;

                        li {
                            // width: 200px;
                            margin-bottom: 8px;
                            display: list-item;
                            text-align: -webkit-match-parent;

                            a {
                                display: block;
                                padding: 8px 5px 8px;
                                border: 1px solid #cccccc;
                                font-size: 15px;
                                font-family: NGBold;
                                color: #666666;
                                background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;

                                img {
                                    padding: 1px 10px 0;
                                }
                            }
                        }

                    }

                    form.menual {
                        width: 100%;
                        margin: 10px 0.8620689655172413%;

                        fieldset {
                            margin-top: 50px;
                            border: 1px solid #eeeeee;

                            h3 {
                                padding: 5px 10%;
                                line-height: 43px;
                                background: #eeeeee;
                                font-size: 16px;
                            }

                            input {
                                padding: 20px 1.7241379310344827%;
                                margin: 10px 5%;
                                vertical-align: middle;

                            }

                        }

                    }
                }


                // --------------------왼쪽 섹션 끝

                //NOTE 두번째 세[ㄱ션
                #right {
                    width: 80%;

                    section.right_menu1 {

                        .article {
                            form {

                                fieldset {

                                    article {
                                        margin: 0.5%;
                                        width: 32%;



                                        img {
                                            left: 11px;

                                            width: 92%;
                                            margin-top: 2%;
                                        }

                                        h4 {
                                            padding: 10px;
                                        }

                                        .input {
                                            padding: 20px;
                                        }


                                        .menu_ops {
                                            height: 0;
                                            margin: 0 10px;
                                            overflow: hidden;
                                            top: 280px;

                                            p {

                                                a {
                                                    margin-left: 3px;

                                                }
                                            }

                                            .gold {
                                                width: 100%;
                                                left: 2px;


                                                li {

                                                    a {
                                                        line-height: 30px;

                                                    }
                                                }
                                            }

                                            .menu_btn {
                                                margin-right: 3px;
                                                margin-left: -4px;

                                                ul {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}