@media(min-width:1160px) {

    // NOTE 워랩
    #wrap {

        // --------------------헤더 끝
        main {
            width: 100%;
            border-top: 1px solid #cccccc;

            #section {
                justify-content: center;
                margin: 0 auto;
                width: 1160px;
                display: flex;

                #left {
                    width: 25%;
                    padding-left: 2.72413793103%;

                    // NOTE 왼쪽
                    h2 {
                        padding-top: 100px;
                    }

                    ul {
                        width: 100%;
                        margin: 10px;

                        li {
                            // width: 200px;
                            margin-bottom: 8px;
                            display: list-item;
                            text-align: -webkit-match-parent;

                            a {
                                display: block;
                                padding: 8px 5px 8px;
                                border: 1px solid #cccccc;
                                font-size: 15px;
                                font-family: NGBold;
                                color: #666666;
                                background: url(../image/bg_lnbActive2On.gif) no-repeat 95% center;

                                img {
                                    padding: 1px 10px 0;
                                }
                            }
                        }

                    }

                    form.menual {
                        width: 200px;
                        margin: 10px;

                        fieldset {
                            margin-top: 50px;
                            border: 1px solid #eeeeee;

                            h3 {
                                padding: 0 14px;
                                line-height: 43px;
                                background: #eeeeee;
                                font-size: 16px;
                            }

                            input {
                                padding: 20px;
                                margin: 10px;
                                vertical-align: middle;

                            }

                        }

                    }
                }


                // --------------------왼쪽 섹션 끝

                //NOTE 두번째 세[ㄱ션
                #right {
                    width: 80%;

                    section.right_menu1 {

                        .article {
                            form {

                                fieldset {

                                    article {
                                        margin: 0.5%;
                                        width: 32%;



                                        img {
                                            width: 92%;
                                            margin-top: 2%;
                                        }

                                        h4 {
                                            padding: 10px;
                                        }

                                        .input {
                                            padding: 8px;
                                            padding: 20px;
                                        }


                                        .menu_ops {
                                            width: 255px;

                                            p {
                                                width: 92%;

                                                a {
                                                    margin: 0 8px;
                                                }
                                            }

                                            .gold {
                                                width: 85%;

                                                li {

                                                    a {
                                                        line-height: 30px;

                                                    }
                                                }
                                            }

                                            .menu_btn {

                                                ul {
                                                    width: 237px;
                                                    padding: 0 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}