@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

legend {
  display: none;
}

@keyframes move {
  0% {
    border-top: 1px solid #dfdfdf;
    height: 0;
  }
  100% {
    border-top: 1px solid rgb(248, 193, 91);
    box-shadow: 0px 15px 5px -2px rgba(199, 198, 198, 0.5843137255);
    height: 100px;
  }
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.pop_123123 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4705882353);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.pop_123123 .pop_cont_varo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: block;
  background: #3e3434;
  border: 1px solid #636363;
  border-top: 2px solid #cb1919;
}
.pop_123123 .pop_cont_varo h1 {
  text-align: left;
  padding: 7px;
  line-height: 28px;
  font-size: 18px;
  color: #fff;
  background: #55575d;
  border-top: 1px solid #4b4c52;
  border-bottom: 1px solid;
}
.pop_123123 .pop_cont_varo .pop_cont {
  margin: 0;
  background: #fff;
  display: block;
  font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
  color: #333;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center_bold {
  text-align: center !important;
  font-family: NGBold;
  color: #222;
  border: 0;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center .button_btn {
  color: #000000;
  border-color: #b1b1b3;
  margin: 10px;
  width: 98px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #514f4f;
  border-radius: 3px;
  vertical-align: middle;
}
.pop_123123 .pop_cont_varo .pop_cont .btn_close {
  top: 20px;
  right: 20px;
  position: absolute;
  text-decoration: none;
  color: #333;
}

.modal {
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4784313725);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .inner {
  display: block;
  background-color: #ffffff;
  animation: fadeAni 200ms ease-out;
}

@keyframes fadeAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  margin: 0 auto;
  align-items: center;
  position: relative;
  height: 100px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}
header .logo {
  display: block;
  width: 164px;
  height: 45px;
  background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png) 0 0 no-repeat;
  text-indent: -999em;
}
header .logo a {
  display: block;
  color: #ba0d0d;
}
header .logo a img {
  width: 180px;
}
header nav {
  flex: 8;
  right: 0px;
}
header nav #main {
  display: flex;
  justify-content: center;
}
header nav #main li {
  display: block;
  padding: 32px 20px;
}
header nav #main li:hover ul.sub {
  animation: move 0.5s ease alternate forwards;
}
header nav #main li .menu {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png) 0 0 no-repeat;
}
header nav #main li .menu a {
  padding: auto;
  display: block;
  font-size: 40px;
}
header nav #main li a:hover {
  color: red;
}
header nav #main li ul.sub {
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 0px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 0px;
}
header nav #main li ul.sub li {
  display: none;
  width: 150px;
  height: 20px;
  padding: 10px 0;
  margin: 30px 20px;
  border: 2px solid #5f5f5f;
  border-radius: 25px;
  background-color: #ffffff;
}
header nav #main li ul.sub li:hover {
  border: 2px solid red;
}
header nav #main li ul.sub li:hover a {
  color: red;
}
header nav #main li ul.sub li a {
  font-size: 14px;
  display: block;
  color: #5f5f5f;
}
header nav #main li ul.sub li a:hover li {
  border: 1px solid red;
}
header div.menu {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png) 0 0 no-repeat;
}

#wrap {
  padding: 20px 0;
}
#wrap #left {
  height: 100%;
  display: block;
}
#wrap #right {
  text-align: center;
}
#wrap #right section.right_menu1 {
  padding: 20px 0;
  width: 100%;
}
#wrap #right section.right_menu1 .location {
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: #333;
  text-align: right;
}
#wrap #right section.right_menu1 .name {
  padding: 40px 0 0 0;
  line-height: 26px;
  font-size: 26px;
  color: #cb1919;
  text-align: center;
}
#wrap #right section.right_menu1 p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  padding: 0 0 30px 0;
}
#wrap .article form {
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #c2c2c2;
  align-content: space-around;
}
#wrap .article form fieldset {
  margin: 30px 0;
  border: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
#wrap .article form fieldset article {
  position: relative;
  padding: 10px 0;
  border: 1px solid #c2c2c2;
  background-color: #ffffff;
  height: 236px;
}
#wrap .article form fieldset article .r_line {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0;
  height: 518px;
  border: 2px solid #cb1919;
  background-color: white;
}
#wrap .article form fieldset article img {
  position: absolute;
}
#wrap .article form fieldset article h4 {
  display: inline-block;
  margin: 0;
  line-height: 19px;
  min-height: 14px;
  min-width: 14px;
  font-weight: normal;
  position: absolute;
  left: 14px;
  top: 180px;
  text-align: left;
  font-size: 16px;
  font-family: NGBold;
}
#wrap .article form fieldset article .input {
  position: absolute;
  top: 200px;
}
#wrap .article form fieldset article .menu_ops {
  position: absolute;
  left: 0px;
}
#wrap .article form fieldset article .menu_ops p a {
  display: block;
  line-height: 33px;
  border: 1px solid #969696;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_menusel.gif) no-repeat 95% center;
}
#wrap .article form fieldset article .menu_ops .gold {
  z-index: 10;
  position: absolute;
  top: 45px;
}
#wrap .article form fieldset article .menu_ops .gold li {
  border: 1px solid #e2e2e2;
  background: #fff;
}
#wrap .article form fieldset article .menu_ops .gold li a {
  display: block;
  line-height: 30px;
  background: #fafafa;
}
#wrap .article form fieldset article .menu_ops .gold li a:hover {
  background: #e4e4e4;
}
#wrap .article form fieldset article .menu_ops .menu_btn {
  margin-top: 20px;
}
#wrap .article form fieldset article .menu_ops .menu_btn ul {
  display: flex;
}
#wrap .article form fieldset article .menu_ops .menu_btn ul li {
  width: 33.33%;
}
#wrap .article form fieldset article .menu_ops .menu_btn ul li #memu01 {
  position: relative;
  margin-left: -1px;
  border: 1px solid #cccccc;
  text-indent: -9999em;
  font-size: 12px;
  font-weight: bold;
  font-family: NGBold;
  color: #cb1919;
  padding: 15px 0px;
  display: block;
  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu01.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#wrap .article form fieldset article .menu_ops .menu_btn ul li #memu02 {
  position: relative;
  margin-left: -1px;
  border: 1px solid #cccccc;
  text-indent: -9999em;
  font-size: 12px;
  font-weight: bold;
  font-family: NGBold;
  color: #cb1919;
  padding: 15px 0px;
  display: block;
  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu02.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#wrap .article form fieldset article .menu_ops .menu_btn ul li #memu03 {
  position: relative;
  margin-left: -1px;
  border: 1px solid #cccccc;
  text-indent: -9999em;
  font-size: 12px;
  font-weight: bold;
  color: #cb1919;
  font-family: NGBold;
  padding: 15px 0px;
  display: block;
  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu03.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#wrap .article form fieldset article .menu_ops .menu_text {
  padding: 10px 0;
  font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
}
#wrap .pizza_style {
  color: #f17304 !important;
  cursor: default;
  font-family: NGBold;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
#wrap .pizza_style_s {
  color: #cb1919 !important;
  cursor: default;
  font-family: NGBold;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

@media (max-width: 686px) {
  #header {
    z-index: 35;
    position: absolute;
    width: 100%;
  }
  header {
    padding: 0 20px;
  }
  header nav {
    display: none;
  }
  header .right_menu .btn_gnb {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    vertical-align: top;
    height: 50px;
    background: #e20c3e;
    border-radius: 50%;
    position: relative;
  }
  header .right_menu .btn_gnb i {
    left: 16px;
    top: 16px;
    color: white;
    vertical-align: top;
    border-radius: 50%;
    position: relative;
  }
  .leftback {
    z-index: 30;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: white;
  }
  #left {
    top: 150px;
    position: absolute;
    z-index: 50;
    width: 90%;
    padding: 5%;
    background-color: white;
    display: block;
  }
  #left .left_section ul {
    display: flex;
    justify-content: space-around;
  }
  #left .left_section ul li {
    width: 100%;
  }
  #left .left_section ul li a {
    text-align: center;
    padding: 8px 5px 8px;
    display: block;
    border: 1px solid #cccccc;
    font-size: 15px;
    font-family: NGBold;
  }
  #left .left_section ul li a span {
    display: block;
  }
  #left section h2 {
    padding-top: 70px;
  }
  #left section ul {
    width: 100%;
    margin-top: 10px;
  }
  #left section ul li {
    margin-bottom: 8px;
    display: list-item;
    text-align: -webkit-match-parent;
  }
  #left section ul li a {
    display: block;
    padding: 8px 5px 8px;
    border: 1px solid #cccccc;
    font-size: 15px;
    font-family: NGBold;
    color: #666666;
    background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;
  }
  #left section ul li a img {
    padding: 1px 10px 0;
  }
  #left form.menual {
    margin: 10px 0.8620689655%;
  }
  #left form.menual fieldset {
    margin-top: 50px;
    border: 1px solid #eeeeee;
  }
  #left form.menual fieldset h3 {
    padding: 5px 10%;
    line-height: 43px;
    background: #eeeeee;
    font-size: 16px;
  }
  #left form.menual fieldset input {
    padding: 20px 1.724137931%;
    margin: 10px 5%;
    vertical-align: middle;
  }
  #right {
    padding-top: 80px;
    width: 100%;
  }
  #right section.right_menu1 .article form fieldset article {
    margin: 1% 0;
    width: 100%;
  }
  #right section.right_menu1 .article form fieldset article:hover {
    border: 2px solid #cb1919;
  }
  #right section.right_menu1 .article form fieldset article img {
    padding-left: 10px;
    width: 220px;
    display: block;
    margin: 0 auto;
    left: 0;
  }
  #right section.right_menu1 .article form fieldset article h4 {
    padding: 10px 1%;
  }
  #right section.right_menu1 .article form fieldset article .input {
    position: absolute;
    top: 200px;
    padding: 20px 5%;
  }
  #right section.right_menu1 .article form fieldset article .menu_ops {
    width: calc(94% - 240px);
    padding: 0 2% 0 240px;
    top: 20px;
    left: 1%;
  }
  #right section.right_menu1 .article form fieldset article .menu_ops .gold {
    width: calc(94% - 220px);
  }
  #right section.right_menu1 .article form fieldset article .menu_ops .menu_btn ul {
    width: 100%;
  }
}
@media (min-width: 687px) and (max-width: 1159px) {
  #icon {
    display: none;
  }
  #header {
    width: 100%;
  }
  header {
    padding: 0 20px;
  }
  header nav #main li img,
  header nav #main li span {
    text-align: center;
    display: block;
    margin: auto;
  }
  header nav #main li .menu a {
    text-align: center;
  }
  #wrap main {
    border-top: 1px solid #cccccc;
  }
  #wrap main #section {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }
  #wrap main #section #left {
    height: 100%;
    display: block;
    width: 25%;
    padding-left: 2.724137931%;
  }
  #wrap main #section #left .left_section {
    display: none;
  }
  #wrap main #section #left section {
    position: relative;
    top: 20px;
  }
  #wrap main #section #left h2 {
    padding-top: 50px;
  }
  #wrap main #section #left ul {
    width: 100%;
    margin-top: 10px;
  }
  #wrap main #section #left ul li {
    margin-bottom: 8px;
    display: list-item;
    text-align: -webkit-match-parent;
  }
  #wrap main #section #left ul li a {
    display: block;
    padding: 8px 5px 8px;
    border: 1px solid #cccccc;
    font-size: 15px;
    font-family: NGBold;
    color: #666666;
    background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;
  }
  #wrap main #section #left ul li a img {
    padding: 1px 10px 0;
  }
  #wrap main #section #left form.menual {
    margin: 10px 0.8620689655%;
  }
  #wrap main #section #left form.menual fieldset {
    margin-top: 50px;
    border: 1px solid #eeeeee;
  }
  #wrap main #section #left form.menual fieldset h3 {
    padding: 5px 10%;
    line-height: 43px;
    background: #eeeeee;
    font-size: 16px;
  }
  #wrap main #section #left form.menual fieldset input {
    padding: 20px 1.724137931%;
    margin: 10px 5%;
    vertical-align: middle;
  }
  #wrap main #section #right {
    width: 75%;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article {
    margin: 1%;
    width: 47%;
    text-align: center;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article img {
    object-fit: cover;
    max-height: 160px;
    width: 92%;
    display: block;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article h4 {
    font-weight: bolder;
    padding: 1px 1%;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article .input {
    position: absolute;
    top: 200px;
    padding: 20px 7px;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article .menu_ops {
    height: 0;
    width: 94%;
    margin: 0 3%;
    overflow: hidden;
    top: 280px;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article .menu_ops .gold {
    width: 100%;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article .menu_ops .menu_btn {
    margin-left: -4px;
  }
  #wrap main #section #right section.right_menu1 .article form fieldset article .menu_ops .menu_btn ul {
    width: 100%;
  }
}

/*# sourceMappingURL=menu.css.map */
