$breakpoints-mobile: 686;
$breakpoints-pc: 1160;

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@mixin media-mo() {
  @media (max-width: ($breakpoints-mobile+'px')) {
    @content;
  }
}

@mixin media-tablet() {
  @media (max-width: ($breakpoints-pc+'px')) and (min-width:($breakpoints-mobile+'px')) {
    @content;
  }
}

@mixin media-pc() {
  @media (min-width: ($breakpoints-pc+'px')) {
    @content;
  }
}

@mixin media-tablet-pc() {
  @media (min-width:($breakpoints-mobile+'px')) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

legend {
  display: none;
}

fieldset {
  border: 0;
}

@keyframes fadeAni {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#wrap {
  padding: 20px 0px;

  main {
    border-top: 1px solid #cccccc;
    width: 100%;

    #section {
      justify-content: center;
      display: flex;
      margin: 0 auto;
      padding: 0 5%;

      @include media-pc() {
        width: calc(1160px - 10%);
      }
    }
  }
}

.menuoption {
  text-align: center;
}


//장바구니
.basketbox {
  z-index: 100;
  position: fixed;
  width: 405px;
  right: 90px;
  top: 200px;
  border: 1px solid #666666;
  background: #fff;
  text-align: left;

  .deliveryRadio {
    display: flex;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50px;
      background-color: #dddddd;

      input {
        display: block;
      }
    }
  }

  .menuOption {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 20px;

    input {
      width: 30px;
      height: 30px;
      text-align: center;
    }

    p {
      width: 100px;
    }

    .sum {
      margin: 0 10px;
      display: flex;
      align-items: center;

      a {
        font-size: 20px;
        text-align: center;
        width: 30px;
        height: 30px;
        border: 1px solid black;
      }

    }

    button {
      width: 30px;
      height: 30px;
    }
  }

  .deliveryText {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    p {
      display: inline-block;
      padding: 10px 20px;
      font-weight: Normal;
      font-family: NGBold;

      span {
        font-family: Verdana;
        font-weight: bold;
        font-size: 24px;
        color: #cb1919 !important;
      }
    }
  }
}

//모달
.pop_123123 {
  transition: all 1s;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: #00000078;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .pop_cont_varo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
    width: 40%;
    height: 130px;
    border: 1px solid #636363;
    border-top: 4px solid #cb1919;

    h1 {
      text-align: left;
      padding: 7px;
      line-height: 28px;
      font-size: 18px;
      color: #fff;
      background: #55575d;
      border-top: 1px solid #4b4c52;
      border-bottom: 1px solid;
    }

    .pop_cont {
      height: 100%;
      margin: 0;
      padding-top: 50px;
      background: #fff;
      display: block;
      font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum,
        Arial, Tahoma, Geneva, Verdana;

      .t_center_bold {
        text-align: center !important;
        font-family: NGBold;
        border: 0;
      }

      .t_center {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;

        .button_btn {
          color: #000000;
          border-color: #b1b1b3;

          width: 98px;
          height: 28px;
          margin: 10px;

          line-height: 28px;
          font-size: 12px;
          display: inline-block;
          border: 1px solid #514f4f;
          border-radius: 3px;
          vertical-align: middle;

          &:hover {
            background-color: #ececec;
          }
        }
      }

      .btn_close {
        top: 20px;
        right: 20px;
        position: absolute;
        text-decoration: none;
        color: #333;
      }
    }
  }
}

.modal {
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: #0000007a;
  position: fixed; // 세로 100퍼 만들기 !!
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    display: block;
    background-color: #ffffff;
    animation: fadeAni 200ms ease-out;
  }
}

.leftback {
  @include media-mo {
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
  }
}

#left {
  display: block;
  height: 100%;

  @include media-mo {
    position: absolute;
    top: 150px;
    z-index: 50;
    padding: 5%;
    width: 90%;
    background-color: white;
  }

  @include media-tablet() {
    height: 100%;
  }

  @include media-tablet-pc() {
    display: block;
    width: 20%;
    min-width: 170px;
  }

  .section {
    h2 {
      padding-top: 50px;
      padding-bottom: 20px;
      font-size: 26px;
      font-weight: Normal;
      font-family: NGBold;
    }

    li {
      margin-bottom: 8px;

      a {
        display: block;
        padding: 10px;
        border: 1px solid #cccccc;
        font-size: 15px;
        font-family: NGBold;
        color: #666666;
        display: flex;
        align-items: center;
        background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;

        img {
          padding-left: 5px;
        }
      }
    }

    .menual {
      margin-top: 50px;
      border: 1px solid #eeeeee;


      h3 {
        padding: 10px;
        background: #eeeeee;
        font-size: 16px;
      }

      .range {
        padding: 10px 0;

        label {
          display: block;
          padding: 10px;
          font: normal "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
          font-size: 14px;
          cursor: pointer;
        }

        input {
          vertical-align: middle;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

#right {
  text-align: center;

  @include media-mo() {
    padding-top: 80px;
  }

  @include media-tablet-pc() {
    width: 80%;
    padding-left: 60px;
  }

  .mainmenu {
    padding: 20px 0;
    width: 100%;

    .breadcrumb {
      text-align: right;
      font-size: 12px;
      font-style: normal;
      text-decoration: none;
      color: #333;
    }

    .name {
      padding-top: 50px;
      line-height: 26px;
      font-size: 26px;
      color: #cb1919;
      text-align: center;
    }

    p {
      padding-bottom: 30px;
      padding-top: 10px;
      font-size: 16px;
      text-align: center;
    }
  }
}

.article {
  flex-wrap: wrap;
  border-top: 1px solid #c2c2c2;

  fieldset {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    width: 100%;
    gap: 5px;

    @include media-tablet() {
      gap: 10px;
    }

    article {
      position: relative;
      padding: 10px;
      border: 1px solid #c2c2c2;
      background-color: #ffffff;
      height: 236px;

      @include media-mo() {
        width: 100%;

        &:hover {
          border: 2px solid #cb1919;
        }
      }

      @include media-tablet() {
        width: calc(50% - 28px);
      }

      @include media-pc() {
        width: calc(33.3% - 26px);
      }

      .r_line {
        display: none; // FIXME
        // overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        // height: 0;
        height: 518px;
        border: 2px solid #cb1919;
        background-color: white;
      }

      img {
        position: absolute;
        display: block;
        width: calc(100% - 20px);

        @include media-mo() {
          width: 220px;
        }

        @include media-tablet() {
          object-fit: cover;
          min-height: 130px;
          max-height: 160px;
        }

      }

      h4 {
        position: absolute;
        display: inline-block;
        left: 14px;
        top: 180px;
        line-height: 19px;
        text-align: left;
        font-size: 18px;
        font-weight: bolder;
        font-family: NGBold;
      }

      .input {
        position: absolute;
        top: 200px;
        padding: 20px 0px;

        span {
          font-family: NGBold;
          font-size: 16px;
          font-weight: bold;
          padding: 5px;
          cursor: default;

          &.pizza_style_M {
            color: #f17304 !important;
          }

          &.pizza_style_L {
            color: #cb1919 !important;
          }
        }
      }

      .menu_ops {
        position: absolute;
        width: calc(100% - 20px);

        @include media-mo() {
          width: calc(94% - 240px);
          padding: 0 2% 0 240px;
          top: 20px;
          left: 1%;
        }

        @include media-tablet-pc() {
          height: 0;
          overflow: hidden;
          top: 280px;
        }

        p {
          a {
            // 골드
            display: block;
            line-height: 33px;
            border: 1px solid #969696;
            background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_menusel.gif) no-repeat 95% center;
          }
        }

        .gold {
          position: absolute;
          z-index: 10;
          top: 45px;

          @include media-mo() {
            width: calc(94% - 220px);
          }

          @include media-tablet-pc() {
            width: 100%;
          }

          li {
            border: 1px solid #e2e2e2;
            background: #fff;

            a {
              display: block;
              line-height: 30px;
              background: #fafafa;

              &:hover {
                background: #e4e4e4;
              }
            }
          }
        }

        .menu_btn {
          ul {
            display: flex;
            justify-content: center;

            li {
              width: 33.333%;
              box-sizing: border-box;

              a {
                position: relative;
                border: 1px solid #cccccc;
                text-indent: -9999em;
                font-size: 12px;
                font-weight: bold;
                font-family: NGBold;
                color: #cb1919;
                padding: 15px 0px;
                display: block;
              }

              #memu01 {
                background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu01.gif) no-repeat center center;
              }

              #memu02 {
                margin-left: -1px;
                background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu02.gif) no-repeat center center;
              }

              #memu03 {
                margin-left: -1px;
                background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu03.gif) no-repeat center center;
              }
            }
          }
        }

        .menu_text {
          padding: 10px 0;
          font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움",
            Dotum, Arial, Tahoma, Geneva, Verdana;
        }
      }
    }
  }
}