$breakpoints-mobile: 686;
$breakpoints-pc: 1160;

@mixin media-mo() {
  @media (max-width: ($breakpoints-mobile+'px')) {
    @content;
  }
}

@mixin media-tablet() {
  @media (max-width: ($breakpoints-pc+'px')) and (min-width:($breakpoints-mobile+'px')) {
    @content;
  }
}

@mixin media-pc() {
  @media (min-width: ($breakpoints-pc+'px')) {
    @content;
  }
}

@mixin media-tablet-pc() {
  @media (min-width:($breakpoints-mobile+'px')) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

legend {
  display: none;
}

@keyframes fadeAni {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#wrap {
  padding: 20px 0px;

  main {
    border-top: 1px solid #cccccc;
    @include media-pc() {
      width: 100%;
    }

    #section {
      justify-content: center;
      display: flex;
      margin: 0 auto;
      @include media-pc() {
        width: 1160px;
      }

      @include media-tablet() {
        width: 100%;
      }
    }
  }
}

.menuoption {
  text-align: center;
}


//장바구니
.basketbox {
  z-index: 100;
  position: fixed;
  width: 405px;
  right: 90px;
  top: 200px;
  border: 1px solid #666666;
  background: #fff;
  text-align: left;

  .deliveryRadio {
    display: flex;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50px;
      background-color: #dddddd;

      input {
        display: block;
      }
    }
  }

  .menuOption {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 20px;

    input {
      width: 30px;
      height: 30px;
      text-align: center;
    }

    p {
      width: 100px;
    }

    .sum {
      margin: 0 10px;
      display: flex;
      align-items: center;

      a {
        font-size: 20px;
        text-align: center;
        width: 30px;
        height: 30px;
        border: 1px solid black;
      }

    }

    button {
      width: 30px;
      height: 30px;
    }
  }

  .deliveryText {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;

    p {
      display: inline-block;
      padding: 10px 20px;
      font-weight: Normal;
      font-family: NGBold;

      span {
        font-family: Verdana;
        font-weight: bold;
        font-size: 24px;
        color: #cb1919 !important;
      }
    }
  }
}

//모달
.pop_123123 {
  transition: all 1s;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: #00000078;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .pop_cont_varo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
    width: 40%;
    height: 130px;
    border: 1px solid #636363;
    border-top: 4px solid #cb1919;

    h1 {
      text-align: left;
      padding: 7px;
      line-height: 28px;
      font-size: 18px;
      color: #fff;
      background: #55575d;
      border-top: 1px solid #4b4c52;
      border-bottom: 1px solid;
    }

    .pop_cont {
      height: 100%;
      margin: 0;
      padding-top: 50px;
      background: #fff;
      display: block;
      font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum,
        Arial, Tahoma, Geneva, Verdana;

      .t_center_bold {
        text-align: center !important;
        font-family: NGBold;
        border: 0;
      }

      .t_center {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;

        .button_btn {
          color: #000000;
          border-color: #b1b1b3;

          width: 98px;
          height: 28px;
          margin: 10px;

          line-height: 28px;
          font-size: 12px;
          display: inline-block;
          border: 1px solid #514f4f;
          border-radius: 3px;
          vertical-align: middle;

          &:hover {
            background-color: #ececec;
          }
        }
      }

      .btn_close {
        top: 20px;
        right: 20px;
        position: absolute;
        text-decoration: none;
        color: #333;
      }
    }
  }
}

.modal {
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: #0000007a;
  position: fixed; // 세로 100퍼 만들기 !!
  display: flex;
  justify-content: center;
  align-items: center;

  .inner {
    display: block;
    background-color: #ffffff;
    animation: fadeAni 200ms ease-out;
  }
}




.leftback {
  @include media-mo {
    z-index: 30;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: white;
  }
}

#left {
  display: block;
  height: 100%;

  @include media-mo {
    top: 150px;
    position: absolute;
    z-index: 50;
    width: 90%;
    padding: 5%;
    background-color: white;
  }

  @include media-tablet() {
    height: 100%;
  }

  @include media-tablet-pc() {
    display: block;
    width: 25%;
    padding-left: 2.72413793103%;
  }



  .section {
    h2 {
      padding-top: 70px;
    }


    ul {
      width: 100%;

      @include media-mo {
        margin-top: 10px;
      }

      @include media-tablet() {
        margin-top: 10px;
      }

      @include media-pc() {
        margin: 10px;
      }

      li {
        margin-bottom: 8px;

        a {
          display: block;
          padding: 8px 5px 8px;
          border: 1px solid #cccccc;
          font-size: 15px;
          font-family: NGBold;
          color: #666666;
          background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;

          img {
            padding: 1px 10px 0;
          }
        }
      }
    }


    @include media-tablet-pc() {
      position: relative;
      top: 20px;
    }

    .menual {
      margin: 10px 0.8620689655172413%;

      fieldset {
        margin-top: 50px;
        border: 1px solid #eeeeee;

        h3 {
          padding: 5px 10%;
          line-height: 43px;
          background: #eeeeee;
          font-size: 16px;
        }

        input {
          padding: 20px 1.7241379310344827%;
          margin: 10px 5%;
          vertical-align: middle;
        }
      }
    }
  }
}




#right {
  padding-top: 80px;
  width: 100%;
  text-align: center;

  @include media-pc() {
    width: 80%;
  }

  @include media-tablet() {
    width: 75%;
  }

  section.right_menu1 {
    padding: 20px 0;
    // width: 300px;
    // height: 100vh;
    width: 100%;

    .breadcrumb {
      font-size: 12px;
      font-style: normal;
      text-decoration: none;
      color: #333;
      text-align: right;
    }

    .name {
      padding: 40px 0 0 0;
      line-height: 26px;
      font-size: 26px;
      color: #cb1919;
      text-align: center;

      p {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
        padding: 0 0 30px 0;
      }
    }
  }
}

.article {
  form {
    display: flex;
    width: 85%;
    margin: 0 auto;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #c2c2c2;
    align-content: space-around;

    fieldset {
      margin: 30px 0;
      border: 0;
      display: flex;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;

      // justify-content: space-between;
      article {
        position: relative;
        padding: 10px 0;
        border: 1px solid #c2c2c2;
        background-color: #ffffff;
        height: 236px;

        @include media-mo() {
          margin: 1% 0;
          width: 100%;

          &:hover {
            border: 2px solid #cb1919;
          }
        }

        @include media-tablet() {
          margin: 1%;
          width: 47%;
          text-align: center;
        }

        @include media-pc() {
          margin: 0.5%;
          width: 32%;
        }

        .r_line {
          display: none; // FIXME
          overflow: hidden;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 0;
          height: 518px;
          border: 2px solid #cb1919;
          background-color: white;
        }

        img {
          position: absolute;

          @include media-mo() {
            padding-left: 10px;
            width: 220px;
            display: block;
            margin: 0 auto;
            left: 0;
          }

          @include media-tablet() {
            object-fit: cover;
            max-height: 160px;
            width: 92%;
            display: block;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
          }


          @include media-pc() {
            left: 11px;
            width: 92%;
            margin-top: 2%;
          }
        }

        h4 {
          display: inline-block;
          margin: 0;
          line-height: 19px;
          min-height: 14px;
          min-width: 14px;
          font-weight: normal;
          position: absolute;
          left: 14px;
          top: 180px;
          text-align: left;
          font-size: 16px;
          font-family: NGBold;

          @include media-mo() {
            padding: 10px 1%;
          }

          @include media-tablet() {
            font-weight: bolder;
            padding: 1px 1%;
          }

          @include media-pc() {
            padding: 10px;
          }
        }

        .input {
          position: absolute;
          top: 200px;

          @include media-mo() {
            padding: 20px 5%;
          }

          @include media-tablet() {
            position: absolute;
            top: 200px;
            padding: 20px 7px;
          }

          @include media-pc() {
            padding: 20px;
          }

        }

        .menu_ops {
          text-align: center;
          position: absolute;
          left: 0px;

          @include media-mo() {
            width: calc(94% - 240px);

            padding: 0 2% 0 240px;
            top: 20px;
            left: 1%;
          }

          @include media-tablet() {
            height: 0;
            width: 94%;
            margin: 0 3%;
            overflow: hidden;
            top: 280px;
          }

          @include media-pc() {
            height: 0;
            position: relative;
            margin: 0 10px;

            overflow: hidden;
            top: 280px;
          }

          p {
            a {
              // 골드
              display: block;
              line-height: 33px;
              border: 1px solid #969696;
              background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_menusel.gif) no-repeat 95% center;
            }
          }

          .gold {
            z-index: 10;
            // display: none;
            position: absolute;
            top: 45px;

            @include media-mo() {
              width: calc(94% - 220px);
            }

            @include media-tablet() {
              width: 100%;
            }

            @include media-pc() {
              width: 100%;

            }

            ul {
              @include media-mo() {
                width: 100%;
              }

              @include media-tablet() {
                width: 100%;
              }
            }

            li {
              border: 1px solid #e2e2e2;
              background: #fff;

              a {
                display: block;
                line-height: 30px;
                background: #fafafa;

                &:hover {
                  background: #e4e4e4;
                }
              }
            }
          }

          .menu_btn {
            @include media-tablet() {
              margin-left: -4px;
            }

            width: 100%;

            ul {
              display: flex;
              justify-content: center;

              li {
                width: 33.333%;
                box-sizing: border-box;

                #memu01 {
                  left: 1;
                  position: relative;
                  // margin-left: -1px;
                  border: 1px solid #cccccc;
                  text-indent: -9999em;
                  font-size: 12px;
                  font-weight: bold;
                  font-family: NGBold;
                  color: #cb1919;
                  padding: 15px 0px;
                  display: block;
                  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu01.gif);
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                #memu02 {
                  position: relative;
                  // margin-left: -1px;
                  border: 1px solid #cccccc;
                  text-indent: -9999em;
                  font-size: 12px;
                  font-weight: bold;
                  font-family: NGBold;
                  color: #cb1919;
                  padding: 15px 0px;
                  display: block;
                  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu02.gif);
                  background-repeat: no-repeat;
                  background-position: center center;
                }

                #memu03 {
                  position: relative;
                  // margin-left: -1px;
                  border: 1px solid #cccccc;
                  text-indent: -9999em;
                  font-size: 12px;
                  font-weight: bold;
                  color: #cb1919;
                  font-family: NGBold;

                  padding: 15px 0px;
                  display: block;
                  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu03.gif);
                  background-repeat: no-repeat;
                  background-position: center center;
                }
              }
            }
          }

          .menu_text {
            padding: 10px 0;
            font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움",
              Dotum, Arial, Tahoma, Geneva, Verdana;
          }
        }
      }
    }
  }
}

.pizza_style {
  color: #f17304 !important;
  cursor: default;
  font-family: NGBold;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.pizza_style_s {
  color: #cb1919 !important;
  cursor: default;
  font-family: NGBold;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}