@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

input[type=radio] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

legend {
  display: none;
}

fieldset {
  border: 0;
}

@keyframes fadeAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#wrap {
  padding: 20px 0px;
}
#wrap .main {
  text-align: center;
  text-align: center;
  border-top: 1px solid #cccccc;
  padding: 0 5%;
}
#wrap .main #section {
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}
@media (max-width: 686px) {
  #wrap .main #section {
    display: block;
  }
}
@media (min-width: 1160px) {
  #wrap .main #section {
    width: calc(1160px - 10%);
  }
}

.menuoption {
  text-align: center;
}

.basketbox {
  z-index: 32;
  position: fixed;
  width: 405px;
  right: 90px;
  top: 200px;
  border: 1px solid #666666;
  background: #fff;
  text-align: left;
}
.basketbox .deliveryRadio {
  display: flex;
}
.basketbox .deliveryRadio label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  background-color: #dddddd;
}
.basketbox .deliveryRadio label input {
  display: block;
}
.basketbox .menuOption {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 20px;
}
.basketbox .menuOption input {
  width: 30px;
  height: 30px;
  text-align: center;
}
.basketbox .menuOption p {
  width: 100px;
}
.basketbox .menuOption .sum {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.basketbox .menuOption .sum a {
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.basketbox .menuOption button {
  width: 30px;
  height: 30px;
}
.basketbox .deliveryText {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.basketbox .deliveryText p {
  display: inline-block;
  padding: 10px 20px;
  font-weight: Normal;
  font-family: NGBold;
}
.basketbox .deliveryText p span {
  font-family: Verdana;
  font-weight: bold;
  font-size: 24px;
  color: #cb1919 !important;
}

.pop_123123 {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4705882353);
}
.pop_123123 .pop_cont_varo {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border: 1px solid #636363;
  border-top: 4px solid #cb1919;
}
.pop_123123 .pop_cont_varo h3 {
  text-align: left;
  padding: 7px;
  line-height: 28px;
  font-size: 18px;
  color: #fff;
  background: #55575d;
  border-top: 1px solid #4b4c52;
  border-bottom: 1px solid;
}
.pop_123123 .pop_cont_varo .pop_cont {
  height: 100%;
  margin: 0;
  padding-top: 50px;
  background: #fff;
  display: block;
  font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center_bold {
  text-align: center !important;
  font-family: NGBold;
  border: 0;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center .button_btn {
  color: #000000;
  border-color: #b1b1b3;
  margin: 20px;
  width: 100px;
  height: 5px;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #514f4f;
  border-radius: 3px;
  vertical-align: middle;
}
.pop_123123 .pop_cont_varo .pop_cont .t_center .button_btn:hover {
  background-color: #ececec;
}
.pop_123123 .pop_cont_varo .pop_cont .btn_close {
  top: 3px;
  right: 10px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.modal {
  z-index: 33;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4784313725);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  position: fixed;
  width: 70%;
  display: block;
  background-color: #ffffff;
  animation: fadeAni 200ms ease-out;
}
.inner img {
  width: 100%;
}

@media (max-width: 686px) {
  .leftback {
    position: fixed;
    z-index: 34;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
  }
}

#left {
  display: block;
  height: 100%;
}
@media (max-width: 686px) {
  #left {
    padding: 30px;
    left: 0;
    position: absolute;
    top: 150px;
    z-index: 50;
    width: 90%;
    background-color: white;
  }
}
@media (max-width: 1160px) and (min-width: 686px) {
  #left {
    height: 100%;
  }
}
@media (min-width: 686px) {
  #left {
    display: block;
    width: 20%;
    min-width: 170px;
  }
}
#left .section h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: Normal;
  font-family: NGBold;
}
#left .section li {
  margin-bottom: 8px;
}
#left .section li a {
  display: block;
  padding: 10px;
  border: 1px solid #cccccc;
  font-size: 15px;
  font-family: NGBold;
  color: #666666;
  display: flex;
  align-items: center;
  background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;
}
#left .section li a img {
  padding-left: 5px;
}
#left .section .menual {
  margin-top: 50px;
  border: 1px solid #eeeeee;
}
#left .section .menual h3 {
  padding: 10px;
  background: #eeeeee;
  font-size: 16px;
}
#left .section .menual .range {
  padding: 10px 0;
}
#left .section .menual .range label {
  text-align: left;
  display: block;
  padding: 10px;
  font: normal "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
  font-size: 14px;
  cursor: pointer;
}

#right {
  text-align: center;
}
@media (max-width: 686px) {
  #right {
    padding-top: 80px;
  }
}
@media (min-width: 686px) {
  #right {
    width: 80%;
    padding-left: 60px;
  }
}
#right .mainmenu {
  padding: 20px 0;
  width: 100%;
}
#right .mainmenu .breadcrumb {
  text-align: right;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: #333;
}
#right .mainmenu .name {
  padding-top: 50px;
  line-height: 26px;
  font-size: 26px;
  color: #cb1919;
  text-align: center;
}
#right .mainmenu p {
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}

.article {
  flex-wrap: wrap;
  border-top: 1px solid #c2c2c2;
}
.article fieldset {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  width: 100%;
  gap: 5px;
}
@media (max-width: 1160px) and (min-width: 686px) {
  .article fieldset {
    gap: 10px;
  }
}
.article fieldset article {
  position: relative;
  padding: 10px;
  border: 1px solid #c2c2c2;
  background-color: #ffffff;
  height: 236px;
}
@media (max-width: 686px) {
  .article fieldset article {
    width: 100%;
  }
  .article fieldset article:hover {
    border: 2px solid #cb1919;
  }
}
@media (max-width: 1160px) and (min-width: 686px) {
  .article fieldset article {
    width: calc(50% - 28px);
  }
}
@media (min-width: 1160px) {
  .article fieldset article {
    width: calc(33.3% - 26px);
  }
}
.article fieldset article .r_line {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 518px;
  border: 2px solid #cb1919;
  background-color: white;
}
@media (max-width: 686px) {
  .article fieldset article .menuimg {
    width: 30%;
    background-color: #000000;
  }
}
.article fieldset article img {
  position: absolute;
  display: block;
  width: calc(100% - 20px);
}
@media (max-width: 686px) {
  .article fieldset article img {
    width: calc(50% - 10px);
    height: 150px;
    object-fit: cover;
  }
}
@media (max-width: 1160px) and (min-width: 686px) {
  .article fieldset article img {
    object-fit: cover;
    min-height: 130px;
    max-height: 160px;
  }
}
.article fieldset article .input {
  position: absolute;
  top: 200px;
  text-align: left;
}
@media (max-width: 1160px) and (min-width: 686px) {
  .article fieldset article .input {
    top: 120px;
    padding-top: 20%;
  }
}
@media (max-width: 686px) {
  .article fieldset article .input {
    top: 70px;
  }
}
.article fieldset article .input h4 {
  padding-top: 5px;
  left: 14px;
  font-size: 18px;
  font-weight: bolder;
  font-family: NGBold;
}
@media (max-width: 686px) {
  .article fieldset article .input h4 {
    width: calc(100% - 10px);
    padding-top: 50%;
  }
}
.article fieldset article .input label {
  display: inline-flex;
  align-items: center;
}
.article fieldset article .input span {
  font-family: NGBold;
  font-size: 16px;
  font-weight: bold;
  padding: 0 5px;
  cursor: default;
}
.article fieldset article .input span.pizza_style_M {
  color: #f17304 !important;
}
.article fieldset article .input span.pizza_style_L {
  color: #cb1919 !important;
}
.article fieldset article .menu_ops {
  width: calc(100% - 20px);
  position: absolute;
}
@media (max-width: 686px) {
  .article fieldset article .menu_ops {
    top: 20px;
    left: calc(50% + 10px);
    width: calc(50% - 20px);
  }
}
@media (min-width: 686px) {
  .article fieldset article .menu_ops {
    height: 0;
    overflow: hidden;
    top: 280px;
  }
}
.article fieldset article .menu_ops p a {
  display: block;
  line-height: 33px;
  border: 1px solid #969696;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_menusel.gif) no-repeat 95% center;
}
.article fieldset article .menu_ops .gold {
  position: absolute;
  z-index: 10;
  top: 45px;
  width: calc(100% - 2px);
}
.article fieldset article .menu_ops .gold li {
  width: 100%;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.article fieldset article .menu_ops .gold li a {
  width: 100%;
  display: block;
  line-height: 30px;
  background: #fafafa;
}
.article fieldset article .menu_ops .gold li a:hover {
  background: #e4e4e4;
}
.article fieldset article .menu_ops .menu_btn ul {
  display: flex;
  justify-content: center;
}
.article fieldset article .menu_ops .menu_btn ul li {
  width: 33.333%;
  box-sizing: border-box;
}
.article fieldset article .menu_ops .menu_btn ul li a {
  position: relative;
  border: 1px solid #cccccc;
  text-indent: -9999em;
  font-size: 12px;
  font-weight: bold;
  font-family: NGBold;
  color: #cb1919;
  padding: 15px 0px;
  display: block;
}
.article fieldset article .menu_ops .menu_btn ul li #memu01 {
  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu01.gif) no-repeat center center;
}
.article fieldset article .menu_ops .menu_btn ul li #memu02 {
  margin-left: -1px;
  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu02.gif) no-repeat center center;
}
.article fieldset article .menu_ops .menu_btn ul li #memu03 {
  margin-left: -1px;
  background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu03.gif) no-repeat center center;
}
.article fieldset article .menu_ops .menu_text {
  padding: 10px 0;
  font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;
}

.edge_list {
  margin-top: 50px 0 0;
  justify-content: space-between;
  display: flex;
  padding: 0;
}
@media (max-width: 1160px) and (min-width: 686px) {
  .edge_list {
    position: absolute;
    left: 0;
    width: 90%;
    padding: 0 5%;
  }
}
@media (max-width: 686px) {
  .edge_list {
    display: none;
  }
}
.edge_list li {
  width: 100%;
}
.edge_list li a {
  text-align: left;
  padding: 10px 0 0 20px;
  margin: 20px 0;
  display: block;
  height: 75px;
  border: 1px solid #c7c7c7;
  font-family: NGBold;
  color: #666;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_edge.gif) no-repeat 95% center;
}
.edge_list li a p {
  padding-top: 10px;
  font-family: NGBold;
  color: #666;
}
.edge_list li a span {
  color: #ff7400;
}

/*# sourceMappingURL=menu.css.map */
