@import './function.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  color: #333;
}

legend {
  display: none;
}

@keyframes move {
  0% {
    height: 0;
    border-top: 1px solid #dfdfdf;
  }

  100% {
    height: 100px;
    border-top: 1px solid rgb(248, 193, 91);
    box-shadow: 0px 15px 5px -2px #c7c6c695;
  }
}

@keyframes moveLi {
  0% {
    display: none;
  }

  50% {
    display: none;

  }

  100% {
    display: block;
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;

}


header {
  margin: 0 auto;
  align-items: center;
  position: relative;
  height: 100px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;

  .logo {
    display: block;
    width: 164px;
    height: 45px;
    background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png)0 0 no-repeat;
    text-indent: -999em;

    a {
      display: block;
      color: #ba0d0d;

      img {
        width: 180px;

      }
    }
  }


  nav {
    flex: 8;
    right: 0px;

    #main {
      display: flex;
      justify-content: center;

      li {
        display: block;
        padding: 32px 20px;

        &:hover ul.sub {
          animation: move 0.5s ease alternate forwards;
        }

        &:hover ul.sub li {
          animation: moveLi 0.5s ease alternate forwards;
        }

        &:hover ul.sub li a {
          animation: moveLiA 0.5s ease alternate forwards;
        }


        .menu {
          display: inline-block;
          vertical-align: top;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png)0 0 no-repeat;

          a {
            padding: auto;
            display: block;
            font-size: 40px;
          }
        }

        a {
          &:hover {
            color: red;
          }

        }

        ul.sub {
          background-color: #ffffff;
          position: absolute;
          overflow: hidden;
          top: 100px;
          left: 0px;
          width: 100vw;
          margin-left: calc(-50vw + 50%);
          display: flex;
          justify-content: center;
          text-align: center;
          height: 0;


          li {
            width: 150px;
            padding: 10px 0;
            margin: 30px 20px;
            border: 2px solid #000000;
            border-radius: 25px;
            background-color: #ffffff;

            &:hover {
              border: 2px solid red;
            }

            &:hover a {
              color: red;
            }

            a {
              font-size: 14px;
              display: block;
              color: #000000;

              &:hover li {
                border: 1px solid red;
              }

            }
          }
        }

      }
    }
  }

  div.menu {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png)0 0 no-repeat;
  }
}

#wrap {
  padding: 20px 0;

  #right {
    text-align: center;

    section.right_menu1 {
      padding: 20px 0;
      // width: 300px;
      // height: 100vh;
      width: 100%;

      .location {
        font-size: 12px;
        font-style: normal;
        text-decoration: none;
        color: #333;
        text-align: right;
      }

      ////FIXME 여기
      .name {
        padding: 40px 0 0 0;
        line-height: 26px;
        font-size: 26px;
        color: #cb1919;
        text-align: center;
      }

      p {
        margin-top: 10px;
        font-size: 16px;
        text-align: center;
        padding: 0 0 30px 0;
      }
    }
  }

  .article {
    form {
      display: flex;
      width: 85%;
      margin: 0 auto;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      border-top: 1px solid #c2c2c2;
      align-content: space-around;

      fieldset {
        margin: 30px 0;
        border: 0;
        display: flex;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;

        // justify-content: space-between;
        article {
          position: relative;
          padding: 10px 0;
          border: 1px solid #c2c2c2;
          background-color: #ffffff;
          height: 236px;

          .r_line {
            display: none; // FIXME
            // overflow: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            // height: 0;
            height: 518px;
            border: 2px solid #cb1919;
            background-color: white;

          }

          img {
            position: absolute;

          }

          h4 {
            display: inline-block;
            margin: 0;
            line-height: 19px;
            min-height: 14px;
            min-width: 14px;
            font-weight: normal;
            position: absolute;
            left: 14px;
            top: 180px;
            text-align: left;
            font-size: 16px;
            font-family: NGBold;
          }

          .input {
            position: absolute;
            top: 200px;
            // padding: 20px ;
          }

          .menu_ops {
            // display: none; //FIXME
            position: absolute;
            left: 0px;
            top: 280px;
            // height: 0; //NOTE
            overflow: hidden; // 

            p {

              a {
                // 골드
                display: block;
                line-height: 33px;
                border: 1px solid #969696;
                background: url(//cdn.mrpizza.co.kr/2014_resources/images/product/bg_menusel.gif) no-repeat 95% center;
              }
            }

            .gold {
              z-index: 10;
              // display: none;
              position: absolute;
              top: 45px;

              li {
                border: 1px solid #e2e2e2;
                background: #fff;

                a {
                  display: block;
                  line-height: 30px;
                  background: #fafafa;

                  &:hover {
                    background: #e4e4e4;

                  }
                }
              }

            }

            .menu_btn {
              margin-top: 20px;
              

              ul {
                display: flex;
                
                li {
                  width: 33.33%;

                  .aaa {
                    position: relative;
                    margin-left: -1px;
                    border: 1px solid #cccccc;
                    text-indent: -9999em;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: NGBold;
                    color: #cb1919;
                    padding: 15px 0px;
                    display: block;
                    background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu01.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                  }

                  .b {
                    position: relative;
                    margin-left: -1px;
                    border: 1px solid #cccccc;
                    text-indent: -9999em;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: NGBold;
                    color: #cb1919;
                    padding: 15px 0px;
                    display: block;
                    background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu02.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                  }

                  .c {
                    position: relative;
                    margin-left: -1px;
                    border: 1px solid #cccccc;
                    text-indent: -9999em;
                    font-size: 12px;
                    font-weight: bold;
                    @include font ('NG');
                    color: #cb1919;
                    padding: 15px 0px;
                    display: block;
                    background: url(https://cdn.mrpizza.co.kr/2014_resources/images/product/ic_memu03.gif);
                    background-repeat: no-repeat;
                    background-position: center center;
                  }
                }
              }
            }

            .menu_text {
              padding: 10px 0;
              font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma, Geneva, Verdana;

            }
          }
        }


      }
    }

  }

  .pizza_style {
    color: #f17304 !important;
    cursor: default;
    font-family: NGBold;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
  }

  .pizza_style_s {
    color: #cb1919 !important;
    cursor: default;
    font-family: NGBold;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;

  }

}

@media(max-width:686px) {
  
  #header{
    width: 100%;
  }
  
  header {
    padding: 0 20px;
    nav {
      display: none;
    }

    .right_menu {

      .btn_gnb {
        cursor: pointer;
        display: inline-block;
        width: 50px;
        vertical-align: top;
        height: 50px;
        background: #e20c3e;
        border-radius: 50%;
        position: relative;
        i{
          left: 16px;
          top: 16px;
          color: white;
          vertical-align: top;
          border-radius: 50%;
          position: relative;
        }
      }
    }
  }


    #left {
      position: absolute;
      z-index: 50;
      width: 90%;
      height: 100vh;
      padding: 5%;
      background-color: white;
      display: block;
      // NOTE 왼쪽
      h2 {
        padding-top: 100px;
      }

      ul {
        width: 100%;
        margin-top: 10px;

        li {
          // width: 150px;
          margin-bottom: 8px;
          display: list-item;
          text-align: -webkit-match-parent;

          a {
            display: block;
            padding: 8px 5px 8px;
            border: 1px solid #cccccc;
            font-size: 15px;
            font-family: NGBold;
            color: #666666;
            background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;

            img {
              padding: 1px 10px 0;
            }
          }
        }

      }

      form.menual {
        // width: 16.379310344827587%;
        margin: 10px 0.8620689655172413%;

        fieldset {
          margin-top: 50px;
          border: 1px solid #eeeeee;

          h3 {
            padding: 5px 10%;
            line-height: 43px;
            background: #eeeeee;
            font-size: 16px;
          }

          input {
            padding: 20px 1.7241379310344827%;
            margin: 10px 5%;
            vertical-align: middle;

          }

        }

      }
    }

    // display: none;
  



#right {
  width: 100%;

  section.right_menu1 {

    .article {
      form {

        fieldset {

          article {
            margin: 1% 0;
            width: 100%;

            img {
              padding-left: 10px;
              width: 220px;
              display: block;
              margin: 0 auto;
              left: 0;
            }

            h4 {
              padding: 10px 1%;
            }

            .input {
              position: absolute;
              top: 200px;
              padding: 20px 5%;
            }

            .menu_ops {
              width: calc(94% - 240px);

              padding: 0 2% 0 240px;
              top: 20px;
              left: 1%;
              p{

              }
              .gold{
              width: calc(94% - 220px);

              }

              .menu_btn {
                
                ul {
                  width: 100%;
                }
              }

            }
          }
        }
      }
    }
  }
}
}



@media(min-width:687px)and (max-width:1159px) {
  
  .fa-solidfa-bars{
    display: none;
  }
  #header{
    width: 100%;
  }
  header {
    padding: 0 20px;

    nav {
      #main {
        li {

          img,
          span {
            text-align: center;
            display: block;
            margin: auto;
          }

          .menu {
            a {
              text-align: center;
            }
          }
        }
      }
    }
  }


  // NOTE 워랩
  #wrap {

    // --------------------헤더 끝
    main {
      border-top: 1px solid #cccccc;

      #section {
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        display: flex;

        #left {
          display: block;
          width: 25%;
          padding-left: 2.72413793103%;

          // NOTE 왼쪽
          h2 {
            padding-top: 100px;
          }

          ul {
            width: 100%;
            margin-top: 10px;

            li {
              // width: 150px;
              margin-bottom: 8px;
              display: list-item;
              text-align: -webkit-match-parent;

              a {
                display: block;
                padding: 8px 5px 8px;
                border: 1px solid #cccccc;
                font-size: 15px;
                font-family: NGBold;
                color: #666666;
                background: url(../imge/bg_lnbActive2On.gif) no-repeat 95% center;

                img {
                  padding: 1px 10px 0;
                }
              }
            }

          }

          form.menual {
            // width: 16.379310344827587%;
            margin: 10px 0.8620689655172413%;

            fieldset {
              margin-top: 50px;
              border: 1px solid #eeeeee;

              h3 {
                padding: 5px 10%;
                line-height: 43px;
                background: #eeeeee;
                font-size: 16px;
              }

              input {
                padding: 20px 1.7241379310344827%;
                margin: 10px 5%;
                vertical-align: middle;

              }

            }

          }
        }
        // --------------------왼쪽 섹션 끝

        //NOTE 두번째 세[ㄱ션
        #right {
          width: 75%;

          section.right_menu1 {
            .article {
              form {

                fieldset {

                  article {
                    margin: 1%;
                    width: 47%;
                    text-align: center;

                      img {
                        object-fit: cover;
                        max-height: 160px;
                        width: 92%;
                      display: block;
                      margin: 0 auto;
                      left: 50%;
                      transform: translateX(-50%);
                    }


                    h4 {
                      font-weight: bolder;
                      padding: 1px 1%;
                    }

                    .input {
                      position: absolute;
                      top: 200px;
                      padding: 20px 7px;
                    }

                    .menu_ops {

                      width: 94%;
            margin: 0 3%;

                      p {

                        a {
                          // 골드
                        }
                      }

                      .gold {
                        width: 100%;
                      }

                      .menu_btn {
                        margin-left: -4px;
                        ul {
                          width: 100%;
                        }
                      }

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}