
fieldset {border:none}
legend {display:none}


h1 {
    border-bottom:3px solid black;
    margin-bottom:30px; padding:10px; font-size:24px; text-decoration:none;}
button {color:white; background-color:gray; border-radius:5px}
button.me {width:200px; color:red;}
h2  {
    padding-bottom: 5px;
    font-size: 20px;
    color: #1a1a1a;
    border-bottom: 1px solid #000000;
    margin-top:50px;
    margin:0; padding:0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;}

/*input스타일*/
body {
font: normal 13px/1.5 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial, Tahoma , Geneva, Verdana;
color: #333;
}
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
div.join_form {
    padding: 0 10px;
    margin-top: 20px; }
div {
display: block;
}
div.user_chk {
margin: 20px 0px 0 25px;
}
div.join_form .user_chk {
margin: 35px 100px 50px 100px;
}
div.join_form .user_chk > ul {
padding-top: 275px;
} 
div.user_chk > ul {
position: relative;
}
ul{
overflow: hidden;
}
ul{margin:0;padding:0}
ul {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
h2.join_form .user_chk > ul > li > a {
position: absolute;
left: 0;
top: 0;
width: 263px;
height: 153px;}
 div.user_chk > ul > li > a.phone {
background: url(http://cdn.mrpizza.co.kr/2014_resources/images/member/bg_phone.png) no-repeat center 38px;
}
div.user_chk > ul > li > a {
display: block;
position: relative;
width: 228px;
height: 138px;
padding-top: 100px;
border: 1px solid #ccc;
text-align: center;
}
a{
    font-style: normal;
text-decoration: none;
color: #333;
}
    
li {
list-style: none;
}
div.user_chk > ul > li {
float: left;
margin-right: 18px;
}           
div.user_chk > ul > li > a strong {
display: block;
font-size: 16px;
color: #cb1919;
}
div.user_chk > ul > li > a {
display: block;
position: relative;
width: 228px;
height: 138px;
padding-top: 100px;
border: 1px solid #ccc;
text-align: center;
}
p{margin:0;padding:0}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-size:12px;
}
.user_chk > ul > li > a {
display: block;
position: relative;
width: 228px;
height: 138px;
padding-top: 100px;
border: 1px solid #ccc;
text-align: center;
}
span.user_chk > ul > li > a .button {
position: absolute;
left: 50%;
bottom: 26px;
margin-left: -50px;
}
span.button.grad {
color: #333;
border-color: #c4c4c5;
background: #fff;
background: linear-gradient(to bottom, #fff , #f2f2f2);
}
span.button.w100 {
width: 98px;
padding: 0;
}
span.button.h30 {
height: 28px;
line-height: 28px;
font-size: 12px;
}
span.button {
display: inline-block;
position: relative;
height: 33px;
line-height: 33px;
border: 1px solid #514f4f;
border-radius: 3px;
background: #514f4f;
text-align: center;
color: #fff;
font-size: 15px;
padding: 0 20px;
vertical-align: middle;
font-family: NGBold;
}
/*본인 인증하기:휴대폰 인증 아이폰 인증*/


/*인증하기 버튼*/
button.bt { 
display: inline-block;
position: relative;
height: 33px;
line-height: 33px;
border-radius: 3px;
text-align: center;
font-size: 15px;
font-weight: bold;
padding: 0 20px;
vertical-align: middle;
font-family: NGBold;
background-color:#eeeeee;
    color:black; border:1px solid #aaaaaa;
}


span.button.btn_move .gt {
position: absolute;
right: 5px;
top: 50%;
line-height: 1;
margin-top: -5px;
}
span.user_chk > ul > li > a .button {
position: absolute;
left: 50%;
bottom: 26px;
margin-left: -50px;
}
span.button.grad {
color: #333;
border-color: #c4c4c5;
background: #fff;
background: linear-gradient(to bottom, #fff , #f2f2f2);
}
span.button.w100 {
width: 98px;
padding: 0;
}
span.button.h30 {
height: 28px;
line-height: 28px;
font-size: 12px;
}
ul {overflow:hidden;}
ul {margin:0; padding:0}
ul ul {
list-style-type: circle;
margin-block-start: 0px;
margin-block-end: 0px;
}
ul {
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
ul.txt_list li {
padding-left: 10px;
margin-bottom: 5px;
background: url(http://cdn.mrpizza.co.kr/2014_resources/images/common/bullet_red.gif) no-repeat left 9px;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
div.join_form .user_chk > ul > li {
float: none;
margin-right: 0;
}
div.join_form .user_chk a.ipin {
left: 285px;
}
div.join_form .user_chk > ul > li > a {
position: absolute;
left: 0;
top: 0;
width: 263px;
height: 153px;
}
div.user_chk > ul > li > a.ipin {
background: url(http://cdn.mrpizza.co.kr/2014_resources/images/member/bg_ipin.png) no-repeat center 42px;
}
div.user_chk > ul > li > a {
display: block;
position: relative;
width: 228px;
height: 138px;
padding-top: 100px;
border: 1px solid #ccc;
text-align: center;
}
div.user_chk > ul > li > a i {
display: none;
position: absolute;
left: -1px;
right: -1px;
top: -1px;
bottom: -1px;
border: 2px solid #cb1919;
}
i {
font-style: italic;
}
p.f16 {
font-size: 16px !important;
}   
p.mt25 {
margin-top: 25px;
}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
p.mt5 {
margin-top: 5px;
}
strong.t_red {
color: #cb1919 !important;
}
table.tbl_style {
border-top: 2px solid #666666;
}
table.mt20 {
margin-top: 20px;
}
table {
width: 100%;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
table {
display: table;
border-collapse: separate;
box-sizing: border-box;
text-indent: initial;
border-spacing: 2px;
border-color: gray;
}
lehend,caption {
width: 0;
height: 0;
/* visibility: hidden; */
overflow: hidden;
font-size: 0;
line-height: 0;
}
caption {
display: table-caption;
text-align: -webkit-center;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
table {
border-collapse: separate;
text-indent: initial;
border-spacing: 2px;
}
colgroup {
display: table-column-group;
}
col {
display: table-column;
}
tbody {
display: table-row-group;
vertical-align: middle;
border-color: inherit;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
table.tbl_style.line th:first-child {
border-left: 0 none;
}
table.tbl_style tbody tr:first-child td {
border-top: 0 none;
}
table.tbl_style.line th {
background: none;
text-align: center;
}
table.tbl_style tbody th {
border-bottom: 1px solid #cccccc;
text-align: left;
padding: 10px 20px;
background: #fafafa;
}
table.tbl_style th {
color: #222222;
border-bottom: 1px solid #666666;
}
label {
display: inline-block;
}
label {
cursor: default;
}

table.tbl_style td {
padding: 10px;
text-align: center;
}
td {
display: table-cell;
vertical-align: inherit;
}
table.tbl_style.line th, .tbl_style.line td {
border-left: 1px solid #cccccc;
}
table.tbl_style td {
border-bottom: 1px solid #cccccc;
}
td.tbl_style.line td.bor_left {
border-left: 1px solid #cccccc !important;
}
p.mt40 {
margin-top: 40px;
}
p.t_center {
text-align: center !important;
}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
a#submitJoinCheck.button.red {
border-color: #cb1919;
background: #cb1919;
}
a#submitJoinCheck.button.w170 {
width: 168px;
padding: 0;
}
a#submitJoinCheck.button.h45 {
height: 43px;
line-height: 43px;
font-size: 16px;
}
a#submitJoinCheck.button {
display: inline-block;
position: relative;
height: 33px;
line-height: 33px;
border: 1px solid #514f4f;
border-radius: 3px;
background: #514f4f;
text-align: center;
color: #fff;
font-size: 15px;
padding: 0 20px;
vertical-align: middle;
font-family: NGBold;
}
a {font-style: normal;
text-decoration: none;
color: #333;
}

a.button.h45.w170 {
     display: inline-block;
position: relative;
height: 33px;
line-height: 33px;
border: 1px solid #514f4f;
border-radius: 3px;
background: #514f4f;
text-align: center;
color: #fff;
font-size: 15px;
padding: 0 20px;
vertical-align: middle;
font-family: NGBold;
    /*input select 공통 스타일*/
}
input,select {
    vertical-align: middle;
    padding:8px 8px 8px 8px;
    background-color:#eeeeee;
    color:#929292; border:1px solid #aaaaaa;
}
.center {text-align: center}/*가운데 정렬*/