@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 100%;
  height: auto;
  border: 0px solid burlywood;
  margin: 0 auto;
}
#contents {
  border: 0px solid red;
  /* background-color: red; */
  width: 100%;
  height: auto;
  margin: 0 auto;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* 팝업창 */
.pop_main {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 60;
}

.pop_main.pop_wrap h1 {
  position: absolute;
  left: -999em;
}

.pop_main.pop_wrap .pop_cont {
  padding: 0px;
}

.pop_main.pop_wrap .btn_close {
  background: none;
}

.pop_main .chk {
  padding: 5px 10px;
  line-height: 23px;
  background: #1d1f23;
  color: #fff;
  overflow: hidden;
}

.pop_main .chk label {
  float: left;
}

.pop_main .chk a {
  float: right;
  color: #fff;
}

article#todayPop div.pop_cont p img {
  vertical-align: middle;
  border: 0;
  width: 400px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

* body {
  font-size: 12px;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
/* 1단 메인배너 */

.banner_wrap:after .banner {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
.banner:after {
  display: block;
  content: "";
  clear: both;
}
.slider {
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 1%;
  margin: 0 auto;
  height: auto !important;
}
.slider li {
  position: absolute;
  /* left: 0; */
  /* top: 0; */
}
.slider li img {
  width: 1920px;
  height: 400px;
}
/* 1단 종료  // */

/* 2단 영역*/
.evt_cf_wrap {
  border: 3px solid darkblue;
  /* background-color: darkblue; */
  width: 1160px;
  height: 400px !important;
  margin: 0 auto;
  padding: 0;
}
/* 2단 종료  // */

.dc_slide_wrap {
  border: 0px solid aqua;
  background-color: rgba(233, 225, 225, 0.589);
  width: 100%;
  height: 400px !important;
  float: left;
  margin: 0 auto;
  padding-bottom: 4%;
  /* margin-top: 5%; */
}

/* 4단 영역 */
.notice {
  border: 0px solid green;
  /* background-color: green; */
  width: 100%;
  height: 500px;
  float: left;
}

/* 4단 종료  // */

/* 브라우저별 반응 */
/* 767px~이하  모바일*/
@media screen and (max-width: 767px) {
  .footer_renew {
    /* padding-bottom: 20px; */
    width: 100%;
    height: 140px;
    margin: 0 auto;
    float: left;
  }
  #wrap {
    width: 100%;
    height: 1500px;
    border: 0px solid burlywood;
    margin: 0 auto;
  }
  /* 팝영역 */
  #todayPop {
    /* top: 114px;
    left: 50%;
    margin-left: -307px;
    display: block; */
    display: none;
  }

  #todayPop2 {
    /* top: 114px;
    left: 50%;
    margin-left: -307px;
    display: block; */
    display: none;
  }
  /* 팝업창 */
  .pop_main {
    display: none;
  }

  .pop_main.pop_wrap h1 {
    display: none;
  }

  .pop_main.pop_wrap .pop_cont {
    display: none;
  }

  .pop_main.pop_wrap .btn_close {
    display: none;
  }
  .pop_main.pop_wrap .chk {
    display: none;
  }
  /* 팝영역 종료 // */

  #contents {
    border: 0px solid red;
    /* background-color: red; */

    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .banner_wrap {
    border: 0px solid darkblue;
    /* background-color: darkblue;   */
    padding-top: 100px;
    width: 100%;
    height: 50px !important;
    margin: 0 auto;
    margin-bottom: 25%;
  }
  .slider {
    width: 1920px;
    float: left;
    overflow: hidden;
    height: auto !important;
  }
  .slider li {
    position: absolute;
    width: 100%;
    /* left: 0; */
    /* top: 0; */
  }
  .slider li img {
    width: 100%;
    height: auto !important;
  }
  /* 2단 */
  .evt_cf_wrap {
    border: 0px solid darkblue;
    /* background-color: darkblue; */
    width: 100%;
    height: 200px !important;
    /* margin: 0 auto; */
    margin-left: 4%;
  }
  .event_area {
    max-width: 80%;
    height: 220px !important;
    /* background-color: coral; */
    margin: 0 auto;
    position: relative;
    border: 0px solid darkcyan;
  }
  .event_wrap {
    width: 90%;
    height: auto !important;
    min-height: 100px;
    border: 0px solid rgb(236, 147, 14);
    /* background-color: blanchedalmond; */
    float: left;
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
    box-sizing: border-box;
  }
  #event_swiper-slide {
    width: 300%;
    /* height: 320px !important; */
    /* margin: 0 auto; */
    /* float: left; */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border: 0px solid gold;
    padding-top: 3%;
  }
  #event_swiper-slide li {
    width: 33.33%;
    /* min-height: 220px !important; */
    /* height: 250px; */
    float: left;
    box-sizing: border-box;
    border: 0px solid darkolivegreen;
  }
  #event_swiper-slide li a img {
    width: 100%;
    /* min-height: 180px !important; */
    /* min-height: 130px !important; */
    /* max-height: 200px !important; */
    padding: 0;
    box-sizing: border-box;
    border-radius: 10%;
  }

  ul.control {
    position: absolute;
    border: 0px solid red;
    width: 70%;
    height: 10px;
    left: 30%;
    top: 8.4%;
    padding-top: 35%;
    /* float: left; */
  }

  ul.control li {
    float: left;
    width: 3vw;
    height: 2px;
    margin-right: 17%;
    text-indent: -9999px;
  }

  ul.control li a {
    font-size: 10px;
    display: block;
    background-color: rgb(254, 255, 248);
    border-radius: 80%;
  }

  ul.control li a:hover {
    transform: scale(1.2);
  }

  ul.control li a:active {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  ul.control li a:focus {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }
  /* 2-2영역 */
  .bxslider ul:after {
    clear: both;
    content: "";
    display: block;
  }
  .newopen_wrap {
    position: relative;
    width: 100%;
    /* height: 200px!important; */
    margin: 0 auto;
    float: right;
    margin-top: 3%;
    margin-bottom: 12%;
    border: 0px solid aqua;
  }
  .bxslider ul {
    width: 100%;
    height: 200px !important;
    margin: 0 auto;
    border: 0px solid green;
  }
  .bxslider ul li {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
  }
  .bxslider ul li img {
    width: 90%;
    height: auto !important;
    border-radius: 8%;
    height: 150px;
  }
  .bx-controls {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60px;
    border: 0px solid violet;
  }
  .bx-controls-direction {
    position: relative;
    width: 94%;
    height: 40px;
    border: 0px solid greenyellow;
    margin-top: 11%;
  }

  .bx-prev {
    position: absolute;
    width: 40px;
    height: 48px;
    left: 0;
    top: -50%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_prev.png)
      no-repeat;
    background-size: 5vw;
    border: 0px solid gold;
  }

  .bx-next {
    position: absolute;
    width: 40px;
    height: 48px;
    left: 86%;
    top: -50%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_next.png)
      no-repeat;
    background-size: 5vw;
    border: 0px solid rgb(17, 0, 255);
  }
  .bx-controls-direction a {
    text-indent: -99999px;
  }
  /* 2-2영역 종료  // */

  /* 디스카운트 할인 슬라이드  */
  .dc_slide_wrap {
    border: 0px solid aqua;
    background-color: rgba(175, 173, 173, 0.199);
    width: 100%;
    height: auto !important;
    float: left;
    margin: 0 auto;
    padding-bottom: 4%;
    /* margin-top: 5%; */
  }
  .dc_slide_wrap h3 {
    text-align: center;
    font-size: 22px;
    position: relative;
    color: #000;
    padding-top: 50px;
    margin-bottom: 30px;
    font: normal 22px "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial,
      Tahoma, Geneva, Verdana;
    font-weight: bold;
  }
  .inner_renew {
    width: 100vw;
    height: 215px !important;
    overflow: hidden;
    float: left;
    margin: 0 auto;
    position: relative;
  }
  .dc_slide_wrap h3:before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url(/imge/bg_main_tit.png) 0 0 no-repeat;
    position: absolute;
    top: 20px;
    left: 55px;
    transform: translateX(-50%);
    background-size: 2em;
  }
  .dc_wra {
    width: 100%;
    height: auto !important;
    border: 0px solid firebrick;
    margin: 0 auto;
    float: left;
  }
  .dc_slide_wrap h3 span {
    position: relative;
    z-index: 1;
    float: left;
    margin-left: 0;
    top: -12px;
    font-size: 0.7em;
  }

  .list_wrap {
    width: 200vw;
    height: auto;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    margin-left: 4%;
    position: relative;
    float: left;
  }

  .list_wrap:after {
    display: block;
    content: "";
    clear: both;
  }
  .list_wrap li {
    float: left;
    border: 0px solid darkgreen;
    width: 30vw;
    height: 160px !important;
    overflow: hidden;
    margin-right: 1%;
  }

  .list_wrap a {
    display: block;
    vertical-align: middle;
    text-align: center;
    height: 100px;
    max-height: 160px;
    background: #fff;
    border-radius: 18px;
    line-height: 1.2;
    width: 30vw;
    min-width: 10vw;
    /* margin-left: 4px; */
  }
  .list_wrap a span {
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;
    font-size: 0.7em;
    display: block;
    padding-top: 40px;
  }
  .list_wrap a strong {
    font-family: "NGBold2";
    color: #e20c3e;
    font-size: 1.5em;
  }
  /* 할인영역 버튼 */
  .dc_btn_area button {
    font-style: normal;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 100%;
    display: block;
  }

  .dc_btn_area .dc_btn_prev {
    display: block;
    position: absolute;
    top: 58%;
    left: 93%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
  }

  .dc_btn_area .dc_btn_next {
    display: block;
    position: absolute;
    top: 58%;
    left: 4%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-140deg);
  }

  .dc_slide_wrap .dc_btn_next,
  .dc_slide_wrap .dc_btn_prev {
    right: -30px;
    display: block;
    width: 18px;
    height: 18px;
  }

  .dc_slide_wrap .dc_btn_prev:hover,
  .dc_slide_wrap .dc_btn_prev:active,
  .dc_slide_wrap .dc_btn_next:hover,
  .dc_slide_wrap .dc_btn_next:active {
    border-color: #000;
  }
  /* 할인이벤트 영역 종료   // */

  .notice {
    width: 100%;
    height: 530px;
    margin: 0 auto;
    /* float: left; */
    position: relative;
  }
  div.notice_fra_wrap .fra_inner_renew {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    height: auto;
    /* float: left; */
  }

  .notice_fra_wrap h3 {
    padding-top: 29px;
    position: relative;
    font-size: 1.2em;
    color: #000;
    padding-bottom: 10px;
    font-family: "Nanum Gothic", sans-serif;
  }

  .notice_fra_wrap h3:before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url(/imge/bg_main_tit.png) 0 0 no-repeat;
    position: absolute;
    top: 18px;
    left: 10px;
    background-size: 60%;
  }
  .fr_fix h3:before {
    position: absolute;
    left: 0;
  }

  .notice_fra_wrap h3 span {
    position: relative;
    z-index: 1;
  }

  div.noice .fra_inner_renew:after {
    display: block;
    content: "";
    clear: both;
  }
  .notice_fix {
    width: 90%;
    height: auto;
    border: 0px solid deeppink;
    margin-left: 2%;
    margin: 0 auto;
    float: left;
  }
  .notice_wrap {
    border: 0px solid rgb(84, 107, 84);
    float: left;
    width: 97vw;
    height: auto !important;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 auto;
  }

  .notice_wrap .notice_area {
    direction: ltr;
    width: 360vw;
    height: 130px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    float: left;
  }
  .swiper-wrapper {
    margin: 0 auto;
  }
  .notice_wrap ul:after {
    display: block;
    content: "";
    clear: both;
  }

  .notice_wrap ul li {
    width: 30.62vw;
    height: 130px;
    border: 1px solid #e6e6e6;
    border-radius: 17px;
    box-sizing: border-box;
    float: left;
    /* transition: 1s; */
    overflow: hidden;
  }

  .notice_wrap ul li a {
    display: block;
    padding: 10px 10px 122px;
    position: relative;
  }

  .notice_wrap ul li a strong {
    display: inline-block;
    color: #000;
    font-size: 0.8em;
    text-overflow: ellipsis;
    height: 70px;
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 2; */
    /* -webkit-box-orient: vertical; */
    font-family: "맑은고딕";
    width: 24vw;
  }

  .notice_area ul li a time {
    position: absolute;
    bottom: 88px;
    left: 10px;
    font-size: 0.8em;
    color: #8c8c8c;
  }

  .notice_wrap ul li a i {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 80px;
    right: 5px;
  }

  .notice_wrap ul li.notice a i {
    background: #ffda30 url(/imge/ico_notice.png) 0 0 no-repeat;
    background-size: 20px;
  }

  .notice_wrap ul li.swiper-slide-active {
    border-left: none;
  }

  .notice_wrap .nt_prev,
  .notice_wrap .nt_next {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 33px;
    border: solid #bcbcbc;
    border-width: 3px 3px 0 0;
    z-index: 1;
  }

  .notice_wrap .nt_prev {
    transform: rotate(-135deg);
    right: 27px;
    display: block;
  }

  .notice_wrap .nt_next {
    transform: rotate(45deg);
    right: 5px;
  }

  .notice_wrap .nt_prev:hover,
  .notice_wrap .nt_prev:active,
  .notice_wrap .nt_next:hover,
  .notice_wrap .nt_next:active {
    border-color: #000;
  }

  /* 프랜차이즈 홍보안내 */
  .fr_wrap {
    height: 180px;
    border: 0px solid blue;
    width: 1160px;
    /* margin: 0 auto; */
    float: left;
    box-sizing: border-box;
    padding-top: 1%;
  }
  .fr_fix {
    width: 100vw;
  }
  .franchise_wrap {
    min-width: 80%;
    height: 220px !important;
    background: url(/imge/bg_franchise.png) 0 no-repeat;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    padding-top: 18px;
    font-weight: bold;
    border: 0px solid aqua;
    /* float: right; */
    background-size: 100%;
    position: relative;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  .fr_wrap .franchise_wrap p {
    font-size: 2.5vw;
    color: #fff;
    position: absolute;
    left: 28%;
    top: 60%;
    text-align: center;
  }

  .fr_wrap .franchise_wrap strong {
    font-size: 5vw;
    color: #ffda30;
    font-family: "Nanum Gothic", sans-serif;
    position: absolute;
    left: 38%;
    top: 40%;
    white-space: nowrap;
    line-height: 1em;
    text-align: center;
  }

  .footer_renew {
    margin: 0;
    width: 100%;
  }
  .footer_section {
    width: 100vw;
  }
  .link_list {
    width: 100vw;
  }
  .link_list li a {
    font-size: 1em;
  }
}

/* 768이상 ~ 1159이하 테블릿 */
@media (min-width: 768px) and (max-width: 1159px) {
  #wrap {
    width: 100%;
    height: 2300px;
  }
  #contents {
    border: 0px solid red;
    /* background-color: red; */
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 200px;
  }
  .banner_wrap {
    border: 0px solid darkblue;
    /* background-color: darkblue;   */
    width: 100%;
    height: 200px !important;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 2%;
  }
  .slider {
    width: 1920px;
    float: left;
    overflow: hidden;
    /* margin: 0 auto; */
    height: 200px !important;
  }
  .slider li {
    position: absolute;
    width: 100%;
  }
  .slider li img {
    width: 100%;
    height: 200px !important;
  }
  /* 2단 */
  .evt_cf_wrap {
    border: 0px solid darkblue;
    /* background-color: darkblue; */
    width: 100%;
    height: 270px !important;
    /* margin: 0 auto; */
  }
  .event_area {
    max-width: 100%;
    height: 280px !important;
    /* background-color: coral; */
    margin: 0 auto;
    position: relative;
    border: 0px solid darkcyan;
  }
  .event_wrap {
    width: 49.699%;
    height: 250px !important;
    border: 0px solid rgb(236, 147, 14);
    /* background-color: blanchedalmond; */
    float: left;
    position: relative;
    overflow: hidden;
  }
  #event_swiper-slide {
    width: 300%;
    /* height: 320px !important; */
    /* margin: 0 auto; */
    /* float: left; */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    border: 0px solid gold;
  }
  #event_swiper-slide li {
    width: 33.33%;
    min-height: 220px !important;
    height: 250px;
    float: left;
    box-sizing: border-box;
    border: 0px solid darkolivegreen;
  }
  #event_swiper-slide li a img {
    width: 100%;
    min-height: 230px !important;
    max-height: 250px !important;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10%;
  }

  /* 활성화아이콘 */

  ul.control:after {
    clear: both;
    content: "";
    display: block;
  }

  ul.control {
    position: absolute;
    border: 0px solid red;
    width: 200px;
    height: 30px;
    left: 32%;
    bottom: 10%;
  }

  ul.control li {
    float: left;
    width: 14px;
    height: 2px;
    margin-right: 50px;
    text-indent: -9999px;
  }

  ul.control li a {
    font-size: 10px;
    display: block;
    background-color: rgb(254, 255, 248);
    border-radius: 80%;
  }

  ul.control li a:hover {
    transform: scale(1.2);
  }

  ul.control li a:active {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  ul.control li a:focus {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }
  /* 2-2영역 */
  .bxslider ul:after {
    clear: both;
    content: "";
    display: block;
  }
  .newopen_wrap {
    width: 47.899%;
    height: 200px;
    float: right;
    /* background-color: gold; */
    margin: 0 auto;
    margin-left: 1%;
    position: relative;
  }
  .bxslider ul {
    width: 100%;
    height: auto !important;
  }
  .bxslider ul li {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
  }
  .bxslider ul li img {
    width: 100%;
    min-height: 230px !important;
    max-height: 250px !important;
    border-radius: 8%;
    position: relative;
  }
  .bx-controls {
    position: relative;
    height: 50px !important;
    width: 40%;
    border: 0px solid darkblue;
    margin-left: 50%;
    padding-top: 10%;
  }
  .bx-prev {
    position: absolute;
    width: 35px;
    height: 50px;
    left: -126%;
    top: 98%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_prev.png)
      no-repeat;
    border: 0px solid gold;
  }

  .bx-next {
    position: absolute;
    width: 35px;
    height: 50px;
    left: 97%;
    top: 98%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_next.png)
      no-repeat;
    border: 0px solid rgb(17, 0, 255);
  }
  .bx-controls-direction a {
    text-indent: -99999px;
  }

  /* 디스카운트 할인 슬라이드  */
  .dc_slide_wrap {
    border: 0px solid aqua;
    background-color: rgba(175, 173, 173, 0.199);
    width: 100%;
    height: 350px !important;
    float: left;
    margin: 0 auto;
    padding-bottom: 4%;
    /* margin-top: 5%; */
  }
  .dc_slide_wrap h3 {
    text-align: center;
    font-size: 22px;
    position: relative;
    color: #000;
    padding-top: 40px;
    margin-bottom: 30px;
    font: normal 22px "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial,
      Tahoma, Geneva, Verdana;
    font-weight: bold;
  }

  .dc_slide_wrap h3:before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url(/imge/bg_main_tit.png) 0 0 no-repeat;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .dc_wra {
    width: 1600px;
    height: auto;
    border: 0px solid firebrick;
    margin: 0 auto;
    /* float: left; */
  }
  .dc_slide_wrap h3 span {
    position: relative;
    z-index: 1;
  }
  .list_wrap {
    width: 100%;
    height: 180px;
    /* background-color: antiquewhite; */
    /* margin: 0 auto; */
    margin-left: 4%;
    overflow: hidden;
    position: relative;
    /* transition: 0.1s; */
  }
  .inner_renew {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .list_wrap:after {
    display: block;
    content: "";
    clear: both;
  }
  .list_wrap li {
    float: left;
    border: 0px solid darkgreen;
    width: 17vw;
    height: 180px;
    /* padding-right: 5px; */
  }

  .list_wrap a {
    display: block;
    vertical-align: middle;
    text-align: center;
    height: 180px;
    background: #fff;
    border-radius: 18px;
    line-height: 1.2;
    width: 94%;
  }
  .list_wrap a span {
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;
    font-size: 1.4em;
    display: block;
    padding-top: 70px;
  }
  .list_wrap a strong {
    font-family: "NGBold2";
    color: #e20c3e;
    font-size: 1.8em;
  }
  /* 할인영역 버튼 */
  .dc_btn_area button {
    font-style: normal;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 100%;
    display: block;
  }

  .dc_btn_area .dc_btn_prev {
    display: block;
    position: absolute;
    top: 65%;
    left: 92%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
  }

  .dc_btn_area .dc_btn_next {
    display: block;
    position: absolute;
    top: 65%;
    left: 4%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-140deg);
  }

  .dc_slide_wrap .dc_btn_next,
  .dc_slide_wrap .dc_btn_prev {
    right: -30px;
    display: block;
    width: 25px;
    height: 25px;
  }

  .dc_slide_wrap .dc_btn_prev:hover,
  .dc_slide_wrap .dc_btn_prev:active,
  .dc_slide_wrap .dc_btn_next:hover,
  .dc_slide_wrap .dc_btn_next:active {
    border-color: #000;
  }

  /* 할인이벤트 영역 종료   // */

  .notice {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    /* float: left; */
  }
  div.notice_fra_wrap .fra_inner_renew {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    height: auto;
    /* float: left; */
  }

  .notice_fra_wrap h3 {
    padding-top: 29px;
    position: relative;
    font-size: 18px;
    color: #000;
    padding-bottom: 20px;
    font-family: "Nanum Gothic", sans-serif;
  }

  .notice_fra_wrap h3:before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url(/imge/bg_main_tit.png) 0 0 no-repeat;
    position: absolute;
    top: 7px;
    left: 0;
  }

  .notice_fra_wrap h3 span {
    position: relative;
    z-index: 1;
  }

  div.noice .fra_inner_renew:after {
    display: block;
    content: "";
    clear: both;
  }
  .notice_fix {
    width: 89%;
    height: auto;
    border: 0px solid deeppink;
    margin: 0 auto;
  }
  .notice_wrap {
    border: 0px solid rgb(84, 107, 84);
    float: left;
    width: 85.888vw;
    height: auto !important;
    position: relative;
    overflow: hidden;
    float: left;
  }

  .notice_wrap .notice_area {
    direction: ltr;
    width: 3600px;
    height: 210px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
    transition: 1s;
  }

  .notice_wrap ul:after {
    display: block;
    content: "";
    clear: both;
  }

  .notice_wrap ul li {
    width: 28.62vw;
    height: auto;
    border: 1px solid #e6e6e6;
    border-radius: 17px;
    box-sizing: border-box;
    float: left;
    /* transition: 1s; */
  }

  .notice_wrap ul li a {
    display: block;
    padding: 40px 30px 122px;
    position: relative;
  }

  .notice_wrap ul li a strong {
    display: block;
    color: #000;
    font-size: 16px;
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "맑은고딕";
  }

  .notice_area ul li a time {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
    color: #8c8c8c;
  }

  .notice_wrap ul li a i {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    right: 20px;
  }

  .notice_wrap ul li.notice a i {
    background: #ffda30 url(/imge/ico_notice.png) 0 0 no-repeat;
  }

  .notice_wrap ul li.swiper-slide-active {
    border-left: none;
  }

  .notice_wrap .nt_prev,
  .notice_wrap .nt_next {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 33px;
    border: solid #bcbcbc;
    border-width: 3px 3px 0 0;
    z-index: 1;
  }

  .notice_wrap .nt_prev {
    transform: rotate(-135deg);
    right: 27px;
    display: block;
  }

  .notice_wrap .nt_next {
    transform: rotate(45deg);
    right: 5px;
  }

  .notice_wrap .nt_prev:hover,
  .notice_wrap .nt_prev:active,
  .notice_wrap .nt_next:hover,
  .notice_wrap .nt_next:active {
    border-color: #000;
  }

  /* 프랜차이즈 홍보안내 */
  .fr_wrap {
    height: 250px;
    border: 0px solid blue;
    width: 86vw;
    margin-right: 15%;
    padding-left: 5%;
    padding-top: 25%;
    /* border-radius: 17%; */
  }
  .fra_name {
    margin-left: 2%;
  }

  .franchise_wrap {
    min-width: 26vw;
    height: 220px !important;
    background: url(/imge/bg_franchise.png) 0 no-repeat;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    padding-top: 58px;
    font-weight: bold;
    border: 0px solid aqua;
    /* float: right; */
    background-size: 100%;
    padding: 0;
    position: relative;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }

  .fr_wrap .franchise_wrap p {
    font-size: 1.7em;
    color: #fff;
    position: absolute;
    left: 35%;
    top: 60%;
  }

  .fr_wrap .franchise_wrap strong {
    font-size: 3.5em;
    color: #ffda30;
    font-family: "Nanum Gothic", sans-serif;
    position: absolute;
    left: 40%;
    top: 30%;
  }

  /* 콘텐츠 영역 끝 // */

  .footer_renew {
    /* padding-bottom: 20px; */
    width: 100%;
    height: 280px;
    margin: 0 auto;
    float: left;
  }
}
.navbar #main .sub {
  width: calc(100vw + 16px);
}
/* 1160px이상 */
@media (min-width: 1160px) {
  content {
    /* width: 100%; */
    height: 2500px;
  }

  .toogle_nav {
    display: none;
    transition: all 0.8s;
  }
  /* 팝업창 */
  #todayPop {
    top: 114px;
    left: 80%;
    margin-left: -55%;
    display: block;
  }

  #todayPop2 {
    top: 114px;
    left: 50%;
    margin-left: 0%;
    display: block;
  }
  .banner_wrap {
    border: 0px solid darkblue;
    /* background-color: darkblue;   */
    width: 1920px;
    height: 430px !important;
    margin: 0 auto;
    /* margin-bottom: 7%; */
    box-sizing: border-box;
    /* float: left; */
  }
  .slider {
    width: 100%;
    float: left;
    overflow: hidden;
    /* margin-bottom:1%; */
    /* margin: 0 auto; */
    height: 300;
  }
  .slider li {
    max-width: 1920px;
    height: auto !important;
    /* position: absolute;
  left: 0;
  top: 0; */
  }
  .slider li img {
    width: 112%;
    height: 400px !important;
  }

  /* 2단 */
  .evt_cf_wrap {
    border: 0px solid darkblue;
    /* background-color: darkblue; */
    width: 1160px;
    /* height: 300px!important; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /* float: left; */
  }
  .event_area {
    max-width: 100%;
    height: 300px !important;
    /* background-color: coral; */
    margin: 0 auto;
    box-sizing: border-box;
  }
  .event_wrap {
    width: 49.699%;
    height: 350px !important;
    border: 0px solid rgb(185, 120, 22);
    /* background-color: blanchedalmond; */
    float: left;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  #event_swiper-slide {
    width: 300%;
    /* height: 500px!important; */
    /* margin: 0 auto; */
    border: 0px solid red;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
  }
  #event_swiper-slide li {
    width: 33.33%;
    float: left;
    border: 0px solid darkblue;
    box-sizing: border-box;
  }
  #event_swiper-slide li a img {
    /* max-width: 300px; */
    /* height: auto!important; */
    padding: 0;
    border-radius: 7%;
  }
  .newopen_wrap {
    width: 49.699%;
    height: 300px;
    float: left;
    /* background-color: gold; */
  }
  /* 활성화아이콘 */

  ul.control:after {
    clear: both;
    content: "";
    display: block;
  }

  ul.control {
    position: absolute;
    bottom: 30%;
    left: 38%;
    border: 0px solid red;
  }

  ul.control li {
    float: left;
    width: 14px;
    height: 2px;
    margin-right: 50px;
    bottom: 0;
    text-indent: -9999px;
  }

  ul.control li a {
    font-size: 10px;
    display: block;
    padding: 00px;
    background-color: rgb(254, 255, 248);
    border-radius: 80%;
  }

  ul.control li a:hover {
    transform: scale(1.2);
  }

  ul.control li a:active {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }

  ul.control li a:focus {
    background-color: rgb(254, 255, 248);
    width: 30px;
    height: 10px;
    border-radius: 30%;
  }
  /* 2-2영역 */
  .bxslider ul:after {
    clear: both;
    content: "";
    display: block;
  }
  .newopen_wrap {
    position: relative;
    width: 47.988%;
    height: 300px !important;
    margin: 0 auto;
    margin-left: 1%;
  }
  .bxslider ul {
    width: 100%;
    height: auto !important;
  }
  .bxslider ul li {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
  }
  .bxslider ul li img {
    width: 100%;
    height: 280px !important;
    border-radius: 8%;
    position: relative;
  }
  .bx-controls {
    position: relative;
    height: 220px;
    width: 580px;
    border: 0px solid darkblue;
    margin-left: 590px;
  }
  .bx-prev {
    position: absolute;
    width: 35px;
    height: 50px;
    left: -590px;
    top: 50%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_prev.png)
      no-repeat;
    border: 0px solid gold;
  }

  .bx-next {
    position: absolute;
    width: 35px;
    height: 50px;
    left: -80px;
    top: 50%;
    background: url(//cdn.mrpizza.co.kr/2014_resources/images/main/slide_next.png)
      no-repeat;
    border: 0px solid rgb(17, 0, 255);
  }
  .bx-controls-direction a {
    text-indent: -99999px;
  }

  /* 2-2영역 종료  // */

  /* 디스카운트 할인 슬라이드  */
  .dc_slide_wrap {
    border: 0px solid aqua;
    background-color: rgba(175, 173, 173, 0.199);
    width: 100%;
    height: 300px !important;
    /* float: left; */
    margin: 0 auto;
    padding-bottom: 4%;
  }
  .dc_slide_wrap h3 {
    text-align: center;
    font-size: 22px;
    position: relative;
    color: #000;
    padding-top: 40px;
    margin-bottom: 30px;
    font: normal 22px "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum, Arial,
      Tahoma, Geneva, Verdana;
    font-weight: bold;
  }

  .dc_slide_wrap h3:before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url(/imge/bg_main_tit.png) 0 0 no-repeat;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .dc_wra {
    width: 3600px;
    height: 300px;
    border: 0px solid firebrick;
    margin: 0 auto;
    margin-left: 2%;
  }
  .dc_slide_wrap h3 span {
    position: relative;
    z-index: 1;
  }
  .list_wrap {
    width: 100%;
    height: 250px;
    /* background-color: antiquewhite; */
    /* margin: 0 auto; */
    margin-left: 2.5%;
    overflow: hidden;
    position: relative;
    /* transition: 0.1s; */
  }
  .inner_renew {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
  }
  .list_wrap:after {
    display: block;
    content: "";
    clear: both;
  }
  .list_wrap li {
    float: left;
    border: 0px solid darkgreen;
    width: 17vw;
    /* padding-right: 5px; */
  }

  .list_wrap a {
    display: block;
    vertical-align: middle;
    text-align: center;
    height: 250px;
    background: #fff;
    border-radius: 18px;
    line-height: 1.2;
    width: 94%;
  }
  .list_wrap a span {
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;
    font-size: 2em;
    display: block;
    padding-top: 90px;
  }
  .list_wrap a strong {
    font-family: "NGBold2";
    color: #e20c3e;
    font-size: 1.9em;
  }
  /* 할인영역 버튼 */
  .dc_btn_area button {
    font-style: normal;
    text-decoration: none;
    color: #333;
    margin: 0;
    padding: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 100%;
    display: block;
  }

  .dc_btn_area .dc_btn_prev {
    display: block;
    position: absolute;
    top: 70%;
    left: 95%;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(45deg);
  }

  .dc_btn_area .dc_btn_next {
    display: block;
    position: absolute;
    top: 70%;
    left: 70px;
    border: solid #b1b1b1;
    border-width: 2px 2px 0px 0px;
    transform: rotate(-140deg);
  }

  .dc_slide_wrap .dc_btn_next,
  .dc_slide_wrap .dc_btn_prev {
    right: -30px;
    display: block;
    width: 25px;
    height: 25px;
  }

  .dc_slide_wrap .dc_btn_prev:hover,
  .dc_slide_wrap .dc_btn_prev:active,
  .dc_slide_wrap .dc_btn_next:hover,
  .dc_slide_wrap .dc_btn_next:active {
    border-color: #000;
  }
  /* 할인이벤트 영역 종료   // */
  .notice {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    /* float: left; */
  }
  div.notice_fra_wrap .fra_inner_renew {
    position: relative;
    width: 1160px;
    margin: 0 auto;
    height: auto;
    /* float: left; */
  }

  .notice_fra_wrap h3 {
    padding-top: 29px;
    position: relative;
    font-size: 18px;
    color: #000;
    padding-bottom: 20px;
    font-family: "Nanum Gothic", sans-serif;
  }

  .notice_fra_wrap h3:before {
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    background: url(/imge/bg_main_tit.png) 0 0 no-repeat;
    position: absolute;
    top: 7px;
    left: 0;
  }

  .notice_fra_wrap h3 span {
    position: relative;
    z-index: 1;
  }

  div.noice .fra_inner_renew:after {
    display: block;
    content: "";
    clear: both;
  }
  .notice_fix {
    width: 48.999%;
    border: 0px solid deeppink;
  }
  .notice_wrap {
    border: 0px solid rgb(84, 107, 84);
    float: left;
    width: 100%;
    height: auto !important;
    position: relative;
    overflow: hidden;
    float: left;
    /* margin-left: 10%; */
  }

  .notice_wrap .notice_area {
    direction: ltr;
    width: 3480px;
    height: auto;
    position: relative;
    margin: 0 auto;
    backface-visibility: hidden;
    z-index: 1;
  }

  .notice_wrap ul:after {
    display: block;
    content: "";
    clear: both;
  }

  .notice_wrap ul li {
    width: 8.1711%;
    height: auto;
    border: 1px solid #e6e6e6;
    border-radius: 17px;
    box-sizing: border-box;
    float: left;
  }

  .notice_wrap ul li a {
    display: block;
    padding: 40px 30px 122px;
    position: relative;
  }

  .notice_wrap ul li a strong {
    display: block;
    color: #000;
    font-size: 16px;
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "맑은고딕";
  }

  .notice_area ul li a time {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 14px;
    color: #8c8c8c;
  }

  .notice_wrap ul li a i {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    right: 20px;
  }

  .notice_wrap ul li.notice a i {
    background: #ffda30 url(/imge/ico_notice.png) 0 0 no-repeat;
  }

  .notice_wrap ul li.swiper-slide-active {
    border-left: none;
  }

  .notice_wrap .nt_prev,
  .notice_wrap .nt_next {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 33px;
    border: solid #bcbcbc;
    border-width: 3px 3px 0 0;
    z-index: 1;
  }

  .notice_wrap .nt_prev {
    transform: rotate(-135deg);
    right: 27px;
    display: block;
  }

  .notice_wrap .nt_next {
    transform: rotate(45deg);
    right: 5px;
  }

  .notice_wrap .nt_prev:hover,
  .notice_wrap .nt_prev:active,
  .notice_wrap .nt_next:hover,
  .notice_wrap .nt_next:active {
    border-color: #000;
  }

  /* 프랜차이즈 홍보안내 */
  .fr_wrap {
    height: 350px;
    border: 0px solid blue;
    width: 45.999%;
    z-index: 1;
    float: right;
  }

  .franchise_wrap {
    min-width: 26vw;
    height: 220px !important;
    background: url(/imge/bg_franchise.png) 0 no-repeat;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    padding-top: 58px;
    font-weight: bold;
    border: 0px solid aqua;
    /* float: right; */
    background-size: 100%;
    padding: 0;
    position: relative;
  }

  .fr_wrap .franchise_wrap p {
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 20%;
    top: 60%;
  }

  .fr_wrap .franchise_wrap strong {
    font-size: 50px;
    color: #ffda30;
    font-family: "Nanum Gothic", sans-serif;
    position: absolute;
    left: 25%;
    top: 30%;
  }

  /* 콘텐츠 영역 끝 // */
  .footer_renew {
    /* padding-bottom: 20px; */
    width: 100%;
    height: 280px;
    margin: 0 auto;
    float: left;
    margin-left: 2%;
  }
}
