* {
  margin: 0;
  padding: 0;
}

legend {
  display: none;
}

@keyframes move {
  0% {
    height: 0;
    border-top: 1px solid #dfdfdf;
  }
  100% {
    height: 100px;
    border-top: 1px solid rgb(248, 193, 91);
    box-shadow: 0px 15px 5px -2px rgba(199, 198, 198, 0.5843137255);
  }
}
@keyframes moveLi {
  0% {
    border: 2px solid rgb(255, 255, 255);
  }
  50% {
    border: 2px solid rgb(255, 255, 255);
  }
  100% {
    border: 2px solid rgb(0, 0, 0);
  }
}
@keyframes moveLiA {
  0% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: rgb(0, 0, 0);
  }
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h2 {
  padding: 50px 10px 10px 10px;
}

#wrap {
  padding: 20px 0;
}
#wrap #header {
  align-items: center;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
#wrap #header header {
  margin: 0 auto;
  align-items: center;
  position: relative;
  width: 1200px;
  height: 100px;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}
#wrap #header header div {
  display: block;
  width: 164px;
  height: 45px;
  background: url(//cdn.mrpizza.co.kr/2022_resources/images/20220901/img_logo_PC.png) 0 0 no-repeat;
  text-indent: -999em;
}
#wrap #header header div a {
  display: block;
  color: #ba0d0d;
}
#wrap #header header div a img {
  width: 180px;
}
#wrap #header header nav {
  flex: 8;
  right: 0px;
}
#wrap #header header nav ul#main {
  display: flex;
  justify-content: center;
}
#wrap #header header nav ul#main li {
  margin: 0 15px;
}
#wrap #header header nav ul#main li:hover ul.sub {
  animation: move 2s ease alternate forwards;
}
#wrap #header header nav ul#main li:hover ul.sub li {
  animation: moveLi 2s ease alternate forwards;
}
#wrap #header header nav ul#main li:hover ul.sub li a {
  animation: moveLiA 2s ease alternate forwards;
}
#wrap #header header nav ul#main li .menu {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#wrap #header header nav ul#main li .menu a {
  line-height: 6.25;
  font-size: 40px;
}
#wrap #header header nav ul#main li a:hover {
  color: red;
}
#wrap #header header nav ul#main li ul.sub {
  background-color: #ffffff;
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 0px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  height: 0;
}
#wrap #header header nav ul#main li ul.sub li {
  width: 150px;
  padding: 10px 0;
  margin: 30px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: #ffffff;
}
#wrap #header header nav ul#main li ul.sub li a {
  font-size: 14px;
  display: block;
  color: #ffffff;
}
#wrap #header header nav ul#main li ul.sub li a:hover li {
  border-color: red;
}
#wrap #header header nav ul#main li ul.sub li a:hover {
  color: red;
}
#wrap #header header div.menu {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: url(//cdn.mrpizza.co.kr/2014_resources/images/common/ico_cart.png) 0 0 no-repeat;
}

main {
  width: 100%;
  border-top: 1px solid #cccccc;
}
main #section {
  margin: 0 auto;
  width: 1024px;
}
main #section #left {
  display: flex;
}
main #section #left section.right_menu1 {
  padding-top: 0px;
  margin: 20px;
}
main #section #left section.right_menu1 ul {
  width: 100%;
  margin: 10px;
}
main #section #left section.right_menu1 ul li {
  width: 200px;
  margin-bottom: 8px;
  display: list-item;
  text-align: -webkit-match-parent;
}
main #section #left section.right_menu1 ul li a {
  display: block;
  padding: 10px 23px 10px 18px;
  border: 1px solid #cccccc;
  font-size: 15px;
  font-family: NGBold;
  color: #666666;
  background: url(../image/bg_lnbActive2On.gif) no-repeat 170px center;
}
main #section #left section.right_menu1 form.menual {
  width: 200px;
  margin: 10px;
}
main #section #left section.right_menu1 form.menual fieldset {
  margin-top: 50px;
  border: 1px solid #eeeeee;
}
main #section #left section.right_menu1 form.menual fieldset h3 {
  padding: 0 14px;
  line-height: 43px;
  background: #eeeeee;
  font-size: 16px;
}
main #section #left section.right_menu1 form.menual fieldset input {
  padding: 20px;
  margin: 10px;
}
main #section #right {
  width: 100%;
  text-align: center;
}
main #section #right section {
  width: 100%;
}
main #section #right section .titlename .name {
  padding: 40px 0 0 0;
  line-height: 26px;
  font-size: 26px;
  color: #cb1919;
  text-align: center;
}
main #section #right section .titlename p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  padding: 0 0 30px 0;
}
main #section #right section .article form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid rgb(194, 194, 194);
  align-content: space-around;
}
main #section #right section .article form fieldset {
  margin: 30px 0;
  border: 0;
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
main #section #right section .article form fieldset article {
  border: 1px solid rgb(194, 194, 194);
  margin: 0.5%;
  background-color: rgb(255, 255, 255);
  width: 32%;
}
main #section #right section .article form fieldset article img {
  width: 90%;
  margin-top: 5%;
}
main #section #right section .article form fieldset article h4 {
  text-align: left;
  padding: 10px;
}
main #section #right section .article form fieldset article .input {
  padding: 10px;
}

/*# sourceMappingURL=menu.css.map */
