birthday_t label_t * {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(246, 246, 246);
  font-size: 12px;
  line-height: 30px;
}
#wrap {
  margin: 0 auto;
  width: 700px;
}
header {
  position: relative;
  padding: 70px 0;
  width: 740px;
}
header h1 {
  position: absolute;
  left: 0px;
  top: 90px;
  width: 740px;
  text-align: center;
}
header p {
  position: absolute;
  right: 10px;
  top: 100px;
}
form {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: 700px;
  border-radius: 10px;
}
form fieldset {
  border: 0;
}
fieldset legend {
  display: none;
}
div.group h2 {
  float: left;
  font-weight: bolder;
  padding-bottom: 10px;
}
div.group p {
  float: right;
  color: rgb(228, 26, 26);
  font-size: 100;
  font-weight: bolder;
}
form > div.group:after {
  display: block;
  content: '';
  clear: both;
}
table {
  width: 100%;
  padding: 10px 10px 40px;
}
table th {
  width: 80px;
  text-align: left;
}
th label {
  font-weight: bolder;
  font-size: 13px;
}
tr td input {
  margin: 0 2px;
  padding: 1px 5px;
  height: 25px;
  border-radius: 7px;
  border: 1px solid rgb(215, 215, 215);
  font-size: 9px;
}
td input.box {
  width: 250px;
}
td input#birthday_t,
td input#birthday_s,
input#sex_1,
input#sex_2 {
  font-size: 5;
}
td input#tel_1,
td input#tel_2,
td input#tel_3,
td input#tel_4 {
  width: 80px;
}

/* class로 만들기 */

/* td#year{position: relative;} */
td.year p {
  float: right;
  color: rgb(228, 26, 26);
  font-size: 3px;
  font-weight: bolder;
  padding-top: 10px;
}
td button {
  width: 100px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
}
th span.star {
  color: rgb(241, 22, 22);
  font-size: 100;
  font-weight: bolder;
}
td select {
  padding: 1px 5px;
  width: 70px;
  height: 32px;
  border-radius: 7px;
  border: 1px solid rgb(215, 215, 215);
}
table th.line,
table td.line {
  border-top: 1px solid #eaeaea;
}
table th,
td {
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
}
button.submit {
  width: 120px;
  height: 40px;
  border: 0;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 20px 300px;
  background-color: rgb(213, 84, 84);
}

/* display 인라인
text-index -30px */

/* input[]{} 속성선택자 */
/* :vertical-align : middle;  수직방향 미들*/
